.header {
    width:100%;
    padding:1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--light-grey);
}
/* Mobile */
.header-mobile {
    position: absolute;
    width:100%;
    background-color: var(--white);
    z-index: 1000;
    bottom:0rem;
    border-top: 1px solid var(--light-grey);
    display: flex;
    justify-content: center;
}