/* MyGigin Button */
.my-gigin-button {
    display: flex;
    align-items: center;
    border:1px solid var(--light-medium-grey);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--white);
    transition: 200ms linear;
}
.my-gigin-button:hover {
    box-shadow: 2px 2px 5px var(--light-medium-grey);
    cursor: pointer;
    transition: 200ms linear;
}
.my-gigin-button.active {
    box-shadow: 2px 2px 5px var(--light-medium-grey);
}
.my-gigin-button .text {
    font-weight: 300;
    font-size: 1rem;
    border-right: 1px solid var(--light-medium-grey);
    padding-right: 0.5rem;
}
.my-gigin-button .menu-icon {
    color: var(--medium-dark-grey);
    font-size: 1.25rem;
    padding-left: 0.5rem;
}
/* Mobile view header */
.my-gigin-button-mobile,
.header-saved-button-mobile {
    display: flex;
    flex-direction: column;
    padding:1rem 1rem;
    align-items: center;
    gap:0.5rem;
    border:none;
    background-color: var(--white);
    font-family: var(--default-font);
    font-weight: 300;
    font-size: 1rem;
    width:50%;
}
.header-saved-button-mobile {
    border-radius: 1rem 0 0 0;
}
.my-gigin-button-mobile {
    border-radius: 0 1rem 0 0;
}
.header-saved-button-mobile .bookmark-icon {
    font-size: 1.5rem;
}
.my-gigin-button-mobile .menu-icon {
    font-size: 1.5rem;
}
.my-gigin-button-mobile:active,
.header-saved-button-mobile:active {
    color: var(--gigin-orange);
}
.header-save-and-exit-button-mobile {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.75rem;
    background-color: var(--white);
    font-weight: 300;
    font-size: 1rem;
    width:50%;
}
.header-save-and-exit-button-mobile:active {
    font-weight: 400;
}

/* Host with gigin button */
.host-with-gigin-button {
    border: none;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 1.25rem;
    transition: 200ms linear;
}
.host-with-gigin-button .link {
    padding:0.5rem 1rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.host-with-gigin-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Gradient background */
.background-gradient {
    background: linear-gradient(-45deg, var(--gigin-orange), var(--red));
    background-size: 400% 400%;
    color: var(--white) !important;
    animation: gradient 10s ease infinite;
}
.text-gradient {
    background: linear-gradient(-45deg, var(--gigin-orange), var(--red));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}