.modal.gig-handbook .modal-content {
    width: 300px;
    height:60vh;
    overflow-y: scroll;
}

.modal.gig-handbook .modal-content::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.modal.gig-handbook .modal-content {
    scrollbar-width: none; /* Hides scrollbar */
}

.modal.gig-handbook .modal-content .primary-info .info-cont {
    width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
}

.modal.gig-handbook .modal-content .primary-info .info-cont h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.modal.gig-handbook .modal-content .primary-info .info-cont .subject {
    color: var(--gn-grey-600);
}


.modal.gig-handbook .modal-content .map .title-and-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.modal.gig-handbook .modal-content .map .title-and-link .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal.gig-handbook .modal-content .map-container {
    height: 250px;
    width: 100%;
    border-radius: 1rem;
    margin: 10px 0;
}

.modal.gig-handbook .modal-content .musician-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Cancellations */

.modal.gig-handbook .modal-content.confirmation-modal .head {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25rem;
    margin-bottom: 1rem;
}

.modal.gig-handbook .modal-content.confirmation-modal .body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.gig-handbook .modal-content.confirmation-modal select {
    font-weight: 400;
    border-color: var(--gn-grey-400);
    border-radius: 5px;
    outline: 1px solid transparent;
    padding:5px;
    margin-bottom: 1rem;
    transition: outline 200ms linear, border 200ms linear;
}

.modal.gig-handbook .modal-content.confirmation-modal select:focus {
    outline-color: var(--gn-black);
    border-color: transparent;
}





