.artist-profile-image {
    width: 25vw;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px var(--gn-grey-500);
    margin-bottom: 1rem;
}

.artist-profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}