@import '../breakpoints.css';

.modal-content.profile-creator {
    height:500px;
    width: 75%;
    max-width: 800px;
    padding: 1.5rem 0;
    display: grid;
    grid-template-rows: 5% auto 5%;
}

.profile-creator.band {
    min-height:100%;
    display: grid;
    grid-template-rows: auto 7.5%;
}

.profile-creator.band .creating-band {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    grid-row: span 2;
}


/* COMMON STYLES */

.profile-creator .loading-state {
    grid-row: span 3;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.profile-creator .stage .section-title {
    text-align: center;
    margin-top:1rem;
}

.profile-creator .stage {
    max-width:100%;
    width:100%;
}

.profile-creator .stage .body {
    min-height:100%;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.profile-creator .stage .body::-webkit-scrollbar {
    display: none;
}

.profile-creator .stage .body .title-container {
    text-align: center;
}

.profile-creator .stage .body .title-container h1 {
    margin-bottom: 5px;
}


/* TEXT AND SELECT INPUTS */

.profile-creator .stage .body .input,
.profile-creator .stage .body .select {
    padding:10px 5px;
    border: 1px solid var(--gn-grey-400);
    border-radius: 5px;
    background-color: var(--gn-white);
    text-align: center;
    transition: border 0.3s;
}

.profile-creator .stage .body .input.error,
.profile-creator .stage .body .select.error {
    border: 1px solid var(--gn-red);
}

.profile-creator .stage .body .input:focus,
.profile-creator .stage .body .select:focus {
    border:1px solid var(--gn-off-black);
    outline:none;
}

/* NAME */

.profile-creator .stage.name .input.name {
    font-size: 5rem;
    font-weight: var(--gn-semi-bold);
    text-align: center;
    border:none;
    background-color: transparent;
    width:fit-content;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1268px) {
    .profile-creator .stage.name .input.name {
        font-size: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .profile-creator .stage.name .input.name {
        font-size: 3rem;
    }
}

.profile-creator .stage.name .input.name:focus {
    outline: none;
}


/* PROFILE PICTURE */

.profile-creator .stage.photo .image-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.profile-creator .stage.photo .input.photo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--gn-grey-300);
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.profile-creator .stage.photo .image-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--gn-grey-300);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.profile-creator .stage.photo .image-preview .icon {
    font-size: 5rem;
    color: var(--gn-grey-600);
}

/* CONTROLS, BUTTONS AND PROGRESS BAR */

.profile-creator .top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0 1rem;
}

.profile-creator .bottom {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.profile-creator .bottom .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.profile-creator .bottom .controls.single {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (--bp-md) {
    
    .profile-creator.band {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: fit-content;
        flex: 1;
    }    
    
    /* PROFILE PICTURE */
    
    .profile-creator .stage.photo .image-container {
        width: 150px;
        height: 150px;
    }
    
    .profile-creator .stage.photo .input.photo {
        width: 100%;
        height: 100%;
    }
    
    .profile-creator .stage.photo .image-preview {
        width: 100%;
        height: 100%;
    }
    
    .profile-creator .stage.photo .image-preview .icon {
        font-size: 2rem;
    }
    
    /* CONTROLS, BUTTONS AND PROGRESS BAR */

    .profile-creator .bottom .controls {
        margin-top: 1rem;
        gap:1rem;
    }
}