.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:500px;
    background-color: var(--light-grey);
}
.hero .title {
    font-size: 3rem;
    font-weight: 600;
}

.hero .right {
    width:25%;
    height:75%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px var(--light-medium-grey);
}
.hero .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/*
.hero img {
    width: 50px;
}
.hero .right {
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    border-radius: 2rem;
    height:75%;
    width:25%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.hero .right .profile-picture {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
}
.hero .right .profile-picture img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero .right .gig-information {
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: var(--default-font);
}
.hero .gig-information .title {
    font-size: 1.5rem;
    font-weight: 600;
}
.hero .gig-information .other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.25rem;
}
.hero .gig-information .other div {
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.hero .gig-information .other .icon {
    font-size: 0.75rem;
}
.hero .gig-information .other .genres {
    margin: 0;
} */
