.gig-post .modal-content {
    padding:4rem 1rem;
}

/* Cards */
.gig-post .stage .card {
    position: relative;
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:1rem;
    padding-right: 1.5rem;
    min-width: 150px;
    max-width: 250px;
    min-height: 100px;
    max-height:150px;
    gap:5px;
    text-align: left;
    transition: background-color 200ms linear, border-color 200ms linear;
}
.gig-post .stage .card.small {
    min-width:fit-content;
    padding-right: 1rem;
    align-items: center;
    min-height:fit-content;
}
.gig-post .stage .card.template {
    width:fit-content;
    min-height: fit-content;
}
.gig-post .stage .card .text {
    font-size: 1rem;
    font-weight: 400;
}
.gig-post .stage .card .sub-text {
    font-size: 0.9rem;
}
.gig-post .stage .card .icon {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.gig-post .stage .card:hover {
    border-color: var(--gigin-orange);
}
.gig-post .stage .card.selected {
    background-color: var(--trans-gigin-orange);
    border-color: var(--gigin-orange);
}
.gig-post .stage .card.disabled {
    color: var(--medium-grey);
    cursor: auto;
}
.gig-post .stage .card.disabled:hover {
    border-color: var(--light-medium-grey);
}

/* Stages */
.gig-post .modal-content .stage {
    text-align: center;
    height: 500px;
    width:60vw;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding-top: 2rem;
}

.gig-post .modal-content .stage::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
.gig-post .stage .head {
    width:100%;
}
.gig-post .stage .head .title {
    font-size: 2rem;
    font-weight: 600;
}
.gig-post .stage .head .title.templates {
    max-width: 75%;
    margin: 0 auto;
}
.gig-post .stage .head .text {
    margin:5px auto;
    min-width:75%;
    max-width:90%;
    font-weight: 400;
    color: var(--dark-grey);
}

/* Templates and saved posts */
.gig-post .stage .templates {
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.gig-post .stage .templates .subtitle {
    margin: 10px 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
}
.gig-post .stage .templates .templates-cont .selections,
.gig-post .stage .templates .saved-cont .selections {
    display: flex;
    align-items: center;
    gap:5px;
    flex-wrap: wrap;
}


/* When? */
.gig-post .stage .body.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.gig-post .stage .toggle-container {
    display: flex;
    gap:10px;
    font-weight: 300;
    margin: 10px 0;
}
.gig-post .stage .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
.gig-post .stage .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.gig-post .stage .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 22px;
}
.gig-post .stage .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
.gig-post .stage input:checked + .slider {
    background-color: var(--gigin-orange);
}
.gig-post .stage input:checked + .slider:before {
    transform: translateX(18px);
}
.gig-post .stage .calendar {
    width:fit-content;
    margin: 0 auto;
    position: relative;
}
.gig-post .stage .calendar .react-datepicker {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: var(--primary-font);
}
.gig-post .stage .calendar .react-datepicker__header,
.gig-post .stage .calendar .react-datepicker__current-month,
.gig-post .stage .calendar .react-datepicker__day-name {
    background-color: var(--light-grey);
}
.gig-post .stage .calendar .react-datepicker__day--selected,
.gig-post .stage .calendar .react-datepicker__day--in-range,
.gig-post .stage .calendar .react-datepicker__day--in-selecting-range {
    background-color: var(--gigin-orange);
    color: #fff;
}
.gig-post .stage .calendar .disable {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--overlay);
    z-index: 2;
    border-radius: 5px;
}

/* Where? */
.gig-post .stage .location {
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.gig-post .stage .location .selections {
    display: flex;
    gap:10px;
}

/* Privacy */
.gig-post .stage .privacy .selections {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.gig-post .stage .privacy .selections #kind {
    margin-top:2rem;
    padding:0.5rem;
    border: 1px solid var(--light-medium-grey);
    border-radius: 5px;
    font-size: 1rem;
}

/* Music */
.gig-post .stage .music .selections {
    display: flex;
    gap:10px;
}

/* Genre */
.gig-post .stage .genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.gig-post .stage .genre .selections {
    display: flex;
    gap:10px;
    width:90%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Musician */
.gig-post .stage .genre .group .label {
    margin: 5px 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
}
.gig-post .stage .genre .group:nth-of-type(3) .selections {
    flex-wrap: nowrap;
}

/* Extra details */
.gig-post .stage .extra-details #extraInformation {
    min-height: 200px;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
    padding:10px;
    min-width:450px;
    max-width: 500px;
    max-height: 250px;
}

/* Timings */
.gig-post .stage .timings {
    display: flex;
    width:80%;
    min-height:75%;
    align-items: center;
}
.gig-post .stage .timings .selections {
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10%;
    border-right: 1px solid var(--light-medium-grey);
}
.gig-post .stage .timings .selections .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
}
.gig-post .stage .timings .selections .input-group .label {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
}
.gig-post .stage .timings .selections .input-group input {
    padding:10px;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
    font-size: 1rem;
    width:100px;
}
.gig-post .stage .timings .selections .input-group .duration-inputs {
    padding:10px;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
}
.gig-post .stage .timings .selections .input-group .duration-inputs select {
    border: none;
    font-size: 1rem;
}
.gig-post .stage .timings .selections .input-group .duration-inputs .unit {
    color: var(--medium-grey);
}
/* Timeline */
.gig-post .stage .timings .timeline {
    position: relative;
    padding-left: 20px;
    margin-top: 20px;
    width:50%;
}
.gig-post .stage .timings .timeline .subtitle {
    margin-bottom: 20px;
    text-align: left;
}
.gig-post .stage .timings .timeline .subtitle .label {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
    margin-bottom: 10px;
}

.gig-post .stage .timings .timeline-event {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.gig-post .stage .timings .timeline-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    text-align: right;
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    height:fit-content;
    padding:5px 10px;
    border-radius: 5px;
}
.gig-post .stage .timings .timeline-time.orange {
    background-color: var(--gigin-orange);
    color: var(--white);
    border:1px solid var(--white);
}
.gig-post .stage .timings .timeline-line {
    width:25px;
    height:1px;
    border:1px solid var(--light-medium-grey);
}
.gig-post .stage .timings .timeline-context p {
    font-size: 0.8rem;
    text-align: left;
}
.gig-post .stage .timings .timeline-details {
    background-color: var(--white);
    border: 1px solid var(--off-white);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px var(--light-medium-grey);
    width:100%;
}
.gig-post .stage .timings .timeline-details h4 {
    margin: 0;
    font-size: 1.1em;
}
.gig-post .stage .timings .timeline-details p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

/* Budget */
.gig-post .stage .budget {
    margin: 2rem 0;
}
.gig-post .stage .budget .input-group {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.gig-post .stage .budget .input-group input {
    font-size: 5rem;
    font-weight: 500;
    width:50%;
    text-align: center;
}
.gig-post .stage .budget .input-group input {
    border:none;
    background-color: transparent;
    width:fit-content;
    text-align: center;
}
.gig-post .stage .budget .input-group input:focus {
    outline: none;
}

/* Review */
.gig-post .stage .review {
    padding-top: 0;
}
.gig-post .stage .review-box {
    width:fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    gap:5px;
    position: relative;
}
.gig-post .stage .review-box .icon {
    position: absolute;
    top:0;
    color: var(--dark-grey);
}
.gig-post .stage .review .value {
    font-size: 1.25rem;
    font-weight: 500;
}
.gig-post .stage .review .review-grid {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.gig-post .stage .review .review-left,
.gig-post .stage .review .review-right {
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.gig-post .stage .review .review-right {
    align-items: flex-start;
}
.gig-post .stage .review .review-left {
    border-right: 1px solid var(--light-medium-grey);
}
.gig-post .stage .review .review-extra-option .label {
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
    text-align: left;
}
.gig-post .stage .review .review-extra-option .repeat-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    margin-top: 0.5rem;
}
.gig-post .stage .review #gigRepeat,
.gig-post .stage .review #repeatEnd,
.gig-post .stage .review #endRepeatAfter,
.gig-post .stage .review #endRepeatDate {
    padding:0.5rem;
    border: 1px solid var(--light-medium-grey);
    border-radius: 5px;
    font-size: 0.8rem;
}
.gig-post .stage .review .end-repeat-after-cont {
    display: flex;
    align-items: center;
    gap:5px;
}
.gig-post .stage .review #endRepeatAfter {
    width:60px;
}
.gig-post .stage .review .review-extra-option {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gig-post .stage .review .review-extra-option .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gig-post .stage .review .review-extra-option .input-group .input {
    margin: 5px 0;
    min-width: 200px;
    padding:0.5rem;
    border: 1px solid var(--light-medium-grey);
    border-radius: 5px;
    font-size: 0.8rem;
}
.gig-post .stage .review .review-extra-option .toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.gig-post .stage .review .review-extra-option .text {
    text-align: left;
    font-size: 0.9rem;
}
.gig-post .stage .review .review-extra-option .private-link {
    border:1px solid var(--light-grey);
    padding: 5px;
    margin-top:5px;
    display: flex;
    align-items: center;
    max-width: 300px;
}
.gig-post .stage .review .review-extra-option .private-link .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.gig-post .stage .review .review-extra-option .private-link .icon {
    cursor: pointer;
}





.gig-post .progress-bar-container {
    width: 90%;
    background-color: var(--light-grey);
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.gig-post .progress-bar {
    height: 100%;
    background-color: var(--black);
    transition: width 1s ease;
}
.gig-post .control-buttons {
    position: absolute;
    bottom: 1rem;
    width:100%;
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gig-post .control-buttons.single {
    justify-content: flex-end;
}
.gig-post .btn.close {
    top:1rem;
    right:1rem;
    transition: all 0.2s linear;
}
.gig-post .btn.close:hover {
    color: var(--black);
    background-color: var(--white);
}