
.window .head {
    margin: 20px 3rem;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gn-grey-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window .body {
    margin: 0 3rem;
    padding-top: 10px;
}


/* GIGS */

.window .body.gigs .filters {
    display: flex;
    justify-content: flex-start;
    gap:2%;
    align-items: center;
    width:100%;
}

.window .body.gigs .filters .search-bar {
    width:50%;
    padding: 8px 1rem;
    background-color: var(--gn-white);
    border-radius: 5px;
    border:1px solid var(--gn-grey-400);
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.window .body.gigs .filters select,
.window .body.gigs .filters input {
    padding:7px;
    border:1px solid var(--gn-grey-400);
    border-radius: 5px;
    cursor: pointer;
    width:15%;
}

.window .body.gigs .filters select:focus,
.window .body.gigs .filters input:focus {
    outline:none;
    border:1px solid var(--gn-orange);
}

.window .body.gigs .filters .sort {
    text-transform: capitalize;    
}

.window .body.gigs .filters .sort:hover {
    background-color: var(--gn-white);    
}


.window .body.gigs table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    border:1px solid var(--gn-grey-400);
    overflow: hidden;
    background-color: var(--gn-white);
    border-radius: var(--gn-btn-border-radius);
    box-shadow: 0px 0px 5px var(--gn-shadow);
    border-collapse: separate;
    border-spacing: 0;
}
.window .body.gigs table thead {
    background-color: var(--gn-grey-300);
}

.window .body.gigs table thead tr {
    text-align: left;
}

.window .body.gigs table thead tr th {
    font-weight: 500;
    color: var(--gn-black);
    border: none;
}

.window .body.gigs table th,
.window .body.gigs table td {
    padding: 12px 15px;
    border: none;
}

.window .body.gigs table tbody tr:nth-of-type(even) {
    background-color: var(--gn-grey-200);
}

.window .body.gigs table tbody td {
    font-weight: var(--gn-semi-bold);
}

.window .body.gigs table #date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.window .body.gigs table .centre {
    text-align: center;
}

.window .body.gigs table .status-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.window .body.gigs table .status {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding:5px;
    width:fit-content;
    border-radius: 5px;
}

.window .body.gigs table .status.confirmed {
    border:1px solid rgb(0, 219, 0);
    background-color: rgba(0, 239, 0, 0.1);
    color: rgb(0, 219, 0);
}

.window .body.gigs table .status.upcoming {
    border:1px solid orange;
    background-color: rgba(255, 166, 0, 0.1);
    color: orange;
}

.window .body.gigs table .status.pending {
    border:1px solid orange;
    background-color: rgba(255, 166, 0, 0.1);
    color: orange;
}

.window .body.gigs table .status.previous {
    border:1px solid gray;
    background-color: rgba(128, 128, 128, 0.1);
    color: gray;
}

.window .body.gigs table .status.declined {
    border:1px solid var(--gn-red);
    background-color: var(--gn-offset-red);
    color: var(--gn-red);
}

.window .body.gigs table tbody tr:hover {
    background-color: var(--gn-grey-300);
    cursor: pointer;
}

.window .body.gigs.musician table tbody tr:hover {
    background-color: var(--gn-white);
    cursor: auto;
}

.window .body.gigs.musician table tbody tr:nth-of-type(even):hover {
    background-color: var(--gn-grey-200);
}


/* VENUES */

.window .body.venues {
    display: grid;
    max-width:100%;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    padding-bottom: 2rem;
}

.window .body.venues .card.venue {
    border:1px solid var(--gn-grey-400);
    background-color: var(--gn-white);
    box-shadow: 0px 0px 5px var(--gn-shadow);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.window .body.venues .venue-image {
    width:100%;
    height:150px;
    overflow: hidden;
    border-radius: 5px;
}

.window .body.venues .venue-image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.window .body.venues .card.venue .two-buttons {
    margin-top: 1rem;
    width:100%;
    justify-content: space-between;
}


/* GIG APPLICATIONS PAGE */
.window .body.gigs .applications-table {
    width: 100%;
}

.window .body.gigs .applications-table th:nth-child(1),
.window .body.gigs .applications-table td:nth-child(1) {
    width: 15%;
}

.window .body.gigs .applications-table th:nth-child(2),
.window .body.gigs .applications-table td:nth-child(2) {
    text-overflow: ellipsis;
}

.window .body.gigs .applications-table th:nth-child(3),
.window .body.gigs .applications-table td:nth-child(3),
.window .body.gigs .applications-table th:nth-child(4),
.window .body.gigs .applications-table td:nth-child(4) {
    width: 15%;
    text-align: center;
}

.window .body.gigs .applications-table .applicant td {
    white-space: nowrap; /* Prevent content wrapping */
    overflow: hidden;
    text-overflow:clip;
}

.window .body.gigs .applications-table .applicant .genre-tag {
    border:1px solid var(--gn-orange);
    padding:0.1rem 0.35rem;
    border-radius: 5px;
    background-color: var(--gn-offset-orange);
    margin-right: 5px;
    white-space: nowrap;
}

.window .body.gigs .applications-table .applicant td:nth-of-type(4) {
    width:10%;
}

.window .body.gigs .applications-table td:nth-of-type(5),
.window .body.gigs .applications-table th:nth-of-type(5) {
    text-align: center;
    width:25%;
    min-width: 250px;
}

.window .body.gigs .applications-table .applicant td:nth-of-type(5) .btn.danger {
    margin: 0 5px;
}