.venue-builder {
    height:100vh;
    padding:2.5%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap:1rem;
}

/* Left side */
.venue-builder .left {
    background-color: var(--gigin-orange);
    border-radius: 10px;
    padding:2rem 1.5rem;
    position: relative;
}
.venue-builder .left .intro-text {
    margin:2.5rem 0;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    color: var(--white);
}
.venue-builder .left .btn {
    position: absolute;
    bottom: 1.5rem;
    left:1.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap:5px;
}

/* Progress list */
.progress ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
.progress ul li {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: #ffcccb;
    position: relative;
    padding:30px 0;
    font-weight: 300;
    transition: font-weight 200ms linear, color 200ms linear;
}
.progress ul li:first-of-type {
    padding-top:0;
}
.progress ul li::before,
.progress ul li::after {
    content: '';
    position: absolute;
    left: 15px;
    width: 2px;
    background-color: white;
}
.progress ul li::before {
    top: 0;
    bottom: 50%;
}
.progress ul li::after {
    top: 50%;
    bottom: 0;
}
.progress ul li:first-child::before {
    display: none;
}
.progress ul li:last-child::after {
    display: none;
}
.progress ul li.completed {
    font-weight: bold;
    color: white;
}
.progress ul li.active {
    font-weight: bold;
}
.progress ul li .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
    font-weight: bold;
    z-index: 1;
    background-color: var(--gigin-orange);
    color: white;
    font-size: 0.75rem;
    transition: background-color 200ms linear, color 200ms linear;
}
.progress ul li.active .circle,
.progress ul li.completed .circle {
    background-color: white;
    color: var(--gigin-orange);
}



/* Right side */
.venue-builder .right {
    background-color: var(--off-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.venue-builder .stage {
    width:90%;
    max-height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.venue-builder .input-label {
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    color: var(--medium-grey) !important;
}

/* Details stage */
.venue-builder .stage.details {
    height:100%;
    justify-content: flex-start;
    padding:2rem 0;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.venue-builder .stage.details::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
.venue-builder .stage.details .manual-address {
    font-size: 0.8rem !important;
}
/* Cards */
.venue-builder .stage .selections {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50%;
}
.venue-builder .stage .card {
    position: relative;
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
    padding: 1.5rem;
    text-align: left;
    transition: background-color 200ms linear, border-color 200ms linear;
}
.venue-builder .stage .card .icon {
    margin-bottom: 10px;
}
.venue-builder .stage .card:hover {
    border-color: var(--gigin-orange);
}
.venue-builder .stage .card:hover > .status-dot {
    border-color: var(--gigin-orange);
}
.venue-builder .stage .card.large {
    width: 275px;
    min-height:175px;
}
.venue-builder .stage .card.small {
    justify-content: center;
    padding-top: 2rem;
    width:30%;
    min-width: 115px;
    height: 100px;
    gap:10px;
}
.venue-builder .stage .card.small.centered {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 75px;
    max-height: 50px;
}
.venue-builder .stage .card.small .icon {
    font-size: 1.25rem;
    margin-bottom: 0;
}
.venue-builder .stage .card.small .title {
    font-size: 0.9rem;
    font-weight: 400;
}
.venue-builder .stage .card.selected {
    background-color: var(--trans-gigin-orange);
    border-color: var(--gigin-orange);
}
.venue-builder .stage .card .status-dot {
    border: 1px solid var(--light-medium-grey);
    background-color: var(--white);
    width:15px;
    height:15px;
    border-radius: 50%;
    position: absolute;
    top:0.5rem;
    left:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms linear, border-color 200ms linear;
}
.venue-builder .stage .card.selected > .status-dot {
    background-color: var(--gigin-orange);
    border-color: var(--gigin-orange);
}
.venue-builder .stage .card .status-dot .inner {
    background-color: var(--white);
    width:6px;
    height:6px;
    border-radius: 50%;
    transition: background-color 200ms linear;
}
.venue-builder .stage .card .icon {
    font-size: 2rem;
}
.venue-builder .stage .card .title {
    font-size: 1.25rem;
    font-weight: 500;
}
/* Forms, inputs and labels */
.venue-builder .stage .form {
    width:40vw;
}
/* Map and address */
.venue-builder .stage .map {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    height:250px;
    margin-bottom: 0;
    width: 40vw;
    position: relative;
}
/* Stage-specific styling */
.venue-builder .stage .equipment-type {
    max-width: 80%;
}
.venue-builder .stage.equipment .selections {
    justify-content: center;
    gap:5vw;
}
.venue-builder .stage.equipment .selections .card.small {
    min-width: 130px;
}
.venue-builder .stage .establishment-type {
    width:40vw;
}
.venue-builder .stage .establishment-type h4,
.venue-builder .stage .equipment-type h4,
.venue-builder .stage .photo-space h4 {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-grey);
    margin-bottom: 10px;
}
.venue-builder .stage .establishment-type .selections,
.venue-builder .stage .equipment-type .selections {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:1rem;
}
.venue-builder .stage .equipment-type .selections .card {
    max-width: 100px;
}
/* Photos */
.venue-builder .stage.photos .photo-space {
    margin-top: 1rem;
    width:90%;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.venue-builder .stage.photos .upload {
    border:1px dashed var(--light-medium-grey);
    background-color: var(--trans-gigin-orange);
    border-radius: 5px;
    min-height: 20%;
    cursor: pointer;
}
.venue-builder .stage.photos .upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:1rem;
    font-size: 0.9rem;
    color: var(--dark-grey);
}
.venue-builder .stage.photos .upload-label .icon {
    font-size: 3rem;
}
.venue-builder .stage.photos .photo-space h4 {
    margin-top:1rem;
}
.venue-builder .stage.photos .preview {
    width:100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: scroll;
    padding:5px;
    padding-bottom: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.venue-builder .stage.photos .preview::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
.venue-builder .stage.photos .preview .preview-image-container {
    position: relative;
    display: inline-block;
    width:30%;
    height:50%;
    margin:5px 0;
}
.venue-builder .stage.photos .preview .preview-image {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: move;
}
.venue-builder .stage.photos .remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding:5px;
    border: none;
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.venue-builder .stage.photos .remove-button .icon {
    color: var(--red);
    font-size: 1rem;
}

.venue-builder .stage.photos .preview-image-container:hover .remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Additional details */
.venue-builder .extra-details .input-group {
    display: flex;
    flex-direction: column;
    width:60%;
    min-width: 300px;
    gap:5px;
}
.venue-builder .extra-details .input-group label {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--dark-grey);
    margin-bottom: 5px;
}
.venue-builder .extra-details .input-group textarea {
    min-height: 200px;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
    padding:10px;
    max-width: 100%;
    max-height: 200px;
}
.venue-builder .extra-details .input-group textarea:focus {
    outline-color: var(--gigin-orange);
}






/* Control buttons */
.venue-builder .stage .controls {
    position: absolute;
    padding: 1rem;
    bottom:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.venue-builder .stage .controls.single {
    justify-content: flex-end;
}


/* Uploading profile */
.venue-builder .uploading-profile {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    position: relative;
}
.venue-builder .uploading-profile .text {
    font-weight: 500;
}
.venue-builder .uploading-profile .icons {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap:1rem;
}
.venue-builder .uploading-profile .icons .active {
    font-size: 2rem;
}

.progress-bar-container {
    width: 20%;
    background-color: var(--light-grey);
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 5px;
    background-color: var(--gigin-orange);
    border-radius: 5px;
    transition: width 3s;
}
.venue-builder .uploading-profile .warning {
    color: var(--dark-grey);
    position: absolute;
    bottom:3rem;
}