/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-thin.otf) format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-thinoblique.otf) format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-lightoblique.otf) format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-regularoblique.otf) format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-mediumoblique.otf) format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-demibold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-demiboldoblique.otf) format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-bold.otf) format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-boldoblique.otf) format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-extrabold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-extraboldoblique.otf) format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-heavyoblique.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'VisbyCF';
    src: url(./visby-font/Fontspring-DEMO-visbycf-heavy.otf) format('opentype');
    font-weight: 900;
    font-style: italic;
}

:root {
    font-family: 'Roboto', sans-serif;
    --h1-font: 'VisbyCF', sans-serif;
    font-weight: 400;
    font-style: normal;
}