/* Buttons */
.btn-text {
    font-size: 0.9rem;
    font-weight: 300;
    border:none;
    background-color: transparent;
    padding:0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-text:hover {
    background-color: var(--light-grey);
}
.btn-border {
    font-size: 0.9rem;
    font-weight: 300;
    border:1px solid var(--light-medium-grey);
    padding:0.5rem;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-border:hover {
    background-color: var(--light-grey);
}
.btn-border.active {
    background-color: var(--light-grey);
}
.btn-black {
    font-size: 0.9rem;
    font-weight: 300;
    border:none;
    padding:0.5rem;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-black:hover {
    background-color: var(--dark-grey);
}
.btn-icon {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    color: var(--black);
    border-radius: 5px;
    border:none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}
.btn-icon:hover {
    color: var(--gigin-orange);
}
.btn-icon.active {
    color: var(--gigin-orange);
}


.control-centre .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
}
.control-centre .header .top {
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-centre .header .top .left {
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.control-centre .header .slash {
    opacity: 0.15;
}
.control-centre .header .title {
    font-weight: 300;
    font-size: 1rem;
}
.control-centre .header .top .right {
    display: flex;
    align-items: center;
    gap:2.5rem;
}
.control-centre .header .top .right .buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.control-centre .header .top .right .icons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.control-centre .header .top .icon {
    font-size: 1.5rem;
}
.control-centre .header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-medium-grey);
}

.control-centre .nav {
    display: flex;
    padding-left: 1rem;
    list-style: none;
    align-items: center;
    gap:5px;
}
.control-centre .nav-item {
    border-bottom: 2px solid transparent;
    padding-top:0.5rem;
    padding-bottom:0.75rem;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}
.control-centre .nav-item.active {
    border-bottom: 2px solid var(--black);
}
.control-centre .nav-item .link {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--dark-grey);
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.control-centre .nav-item .link:hover {
    background-color: var(--light-grey);
}
.control-centre .nav-item .nav-item:hover > .link {
    background-color: var(--light-grey);
}

.control-centre .tab-banner {
    padding:2rem 15%;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--off-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-centre .tab-banner .title {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Venue tab */


.control-centre .venues-tab .tab-content {
    margin:2rem 15%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.control-centre .venues-tab .tab-content .card {
    padding:1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    border:1px solid var(--light-medium-grey);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}
.control-centre .venues-tab .tab-content .card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.control-centre .venues-tab .tab-content .card .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}

/* Gigs tab */
.control-centre .gigs-tab .table {
    width:70%;
    margin:2rem auto;
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    border-radius: 5px;
}
.control-centre .gigs-tab .table .head {
    background-color: var(--light-grey);
}
.control-centre .gigs-tab .table .head h6 {
    font-size: 1rem;
    font-weight: 300;
}
.control-centre .gigs-tab .table .head.item {
    cursor:default;
}
.control-centre .gigs-tab .table .head.item:hover {
    background-color: var(--light-grey);
}
.control-centre .gigs-tab .table .item {
    display: flex;
    justify-content: space-between;
    padding:0.5rem 1rem;
    align-items: center;
    border-top:1px solid var(--light-grey);
    cursor: pointer;
}
.control-centre .gigs-tab .table .item .left {
    display: flex;
    align-items: center;
    gap:1rem;
}
.control-centre .gigs-tab .table .head th {
    border: 1px solid var(--light-grey);
}
.control-centre .gigs-tab .table .item:hover {
    background-color: var(--off-white);
}


/* Modals */
.control-centre .modal {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.206);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.control-centre .modal.show {
    z-index: 1000;
    opacity: 1;
}
.control-centre .modal .modal-content {
    padding:1.5rem;
    min-width: 350px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.control-centre .modal .modal-content .title {
    font-size: 1.25rem;
    font-weight: 400;
}
.control-centre .modal .modal-body {
    border:1px solid var(--light-medium-grey);
    background-color: var(--off-white);
    border-radius: 5px;
    padding:1rem 0;
    max-height: 75vh;
    overflow: scroll;
    scrollbar-width: 0;
}
.control-centre .modal .modal-body::-webkit-scrollbar {
    display: none;
}
.control-centre .modal .modal-footer {
    display: flex;
    justify-content: space-between;
    gap:1rem;
}

.control-centre .modal .input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}
.control-centre .modal .input-group label {
    font-family: var(--default-font);
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.9;
}
.control-centre .modal .input-group input, select {
    padding:0.5rem 1rem;
    text-align: center;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
    font-family: var(--default-font);
}
.control-centre .modal .input-group input:focus, select:focus {
    outline-color: var(--gigin-orange);
}
.control-centre .modal textarea {
    min-height: 50px;
    max-height: 200px;
    resize: vertical;
    font-family: var(--default-font);
    padding:0.5rem;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
}
.control-centre .modal .input-group textarea:focus {
    outline-color: var(--gigin-orange);
}
.control-centre #autofill {
    width: 75%;
    max-width:350px;
}
.control-centre .modal .entered-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25rem;
    margin-bottom: 1rem;
}
.control-centre .modal .entered-address p {
    font-size: 0.8rem;
}
.control-centre .modal .manual-entry-option p {
    font-size: 0.75rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2rem;
    cursor: pointer;
}
.control-centre .modal .checkboxes {
    width:80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.5rem;
    justify-content: center;
}
.control-centre .modal .checkbox {
    margin:0.5rem 0;
}
.control-centre .modal .checkbox label {
    cursor: pointer;
    border:1px solid var(--light-medium-grey);
    border-radius: 5px;
    background-color: var(--white);
    padding:0.5rem;
}
.control-centre .modal .checkbox label.active {
    background-color: var(--gigin-orange);
    color: var(--white);
}
.control-centre .modal .checkbox-input {
    display: none;
}
.control-centre .modal .add-more-button p {
    font-size: 0.75rem;
    text-decoration: underline;
    cursor: pointer;
}