/* Music type */
.music-type .radio-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
.music-type input {
    display: none;
}
.music-type .labels {
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
    font-weight: 300;
    transition: all 100ms linear;
}
.music-type .labels:hover {
    transition: all 100ms linear;
}
.music-type .labels.clicked {
    background-color: var(--dark-grey);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--white);
    transition: all 100ms linear;
}


/* Genres */
.genres {
    margin-top:0.5rem;
}
.genres .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

/* Time inputs */
.time-input {
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    padding:1rem;
    font-family: var(--default-font);
    font-size: 1.5rem;
    font-weight: 300;
}

/* Gig extra info */
.gig-extra-information textarea {
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    width:50%;
    font-family: var(--default-font);
    padding:1rem;
}