.address-form .autofill-cont {
    width:100%;
}
.address-form .autofill-cont .input-cont {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
    width:100%;
}
.address-form .autofill-cont .input {
    border-radius: 0.5rem;
    border: 1px solid var(--light-medium-grey);
    padding:1rem;
    width:100%;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--default-font);
}
.address-form .manual-entry-option p {
    font-size: 0.8rem;
    font-weight: 300;
}
.address-form .manual-entry-option:hover {
    color: var(--dark-grey);
    cursor: pointer;
}

/* Manual entry form */
.address-form .manual-entry-form {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.address-form .manual-entry-form .input-cont {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
    width:100%;
}
.address-form .manual-entry-form .input {
    border-radius: 0.5rem;
    border: 1px solid var(--light-medium-grey);
    padding:1rem;
    width:75%;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--default-font);
}
.address-form .btn {
    margin: 1rem 0.5rem;
}
