/* Authentication form */
.auth-form {
    display: flex;
    flex-direction: column;
    width:100%;
    gap:1rem;
}

/* Common field styles */
.auth-form .input-group {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.auth-form .input-group label {
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form .input-group input,
.auth-form .input-group .password,
.auth-form .input-group select {
    padding:10px 5px;
    border: 1px solid var(--light-medium-grey);
    border-radius: 5px;
}
.auth-form .input-group input:focus {
    outline:none;
}
.auth-form .input-group input.error {
    border:1px solid red;
}
.auth-form .error-box {
    border:1px solid red;
    padding:5px;
    background-color: rgba(255, 0, 0, 0.028);
    border-radius: 5px;
}
.auth-form .error-msg {
    font-size: 0.75rem;
}

/* Field specific styles */
.auth-form .input-group .btn {
    font-size: 0.75rem;
    color: var(--dark-grey);
}
.auth-form .input-group label .fp-link {
    font-size: 0.75rem;
}
.auth-form .input-group .password {
    display: flex;
    justify-content: space-between;
    width:100%;
}
.auth-form .input-group .password input {
    padding:0;
    border:none;
    border-radius: 0;
    width:90%;
}
.auth-form .input-group .password input:focus {
    outline: none;
}
.auth-form .input-group .password input:focus > .password {
    outline: 2px solid var(--gigin-orange);
}
.auth-form .input-group .password .btn {
    padding:0 5px;
    color:var(--dark-grey);
}
.auth-form .input-group .password .btn:hover {
    background-color: transparent;
}
.auth-form .phone-number {
    display: flex;
    width:100%;
    gap:5px;
}
.auth-form .password-info {
    font-size: 0.75rem;
    padding: 5px 0;
    max-width: 320px;
}
.auth-form button[type='submit']:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

/* Other */
.auth-form .change-auth-type p,
.auth-form .change-auth-type .btn {
    font-size: 0.75rem;
    text-align: center;
}
.auth-form .change-auth-type .btn {
    color: var(--gigin-orange);
}