
.gig-finder {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 60px auto;
    position: relative;
}


/* MAP VIEW */

.gig-finder .map-view {
    position: relative;
}

.gig-finder .map-view .filter-bar {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 1rem;
}

.gig-finder .filter-bar {
    width:fit-content;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 1rem;
    background-color: var(--gn-white);
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--gn-grey-300);
    box-shadow: 0 0 5px var(--gn-shadow);
    transition: box-shadow 200ms linear;
}

.gig-finder .filter-bar .filter-button {
    color: var(--gn-grey-600);
    padding: 0 10px;
}

.gig-finder .filter-bar .selected-dates {
    list-style: none;
    display: flex;
    align-items: center;
    gap:5px;
    padding: 5px 10px;
    max-width: 50vw;
    overflow: auto;
    border-radius: 10px;
    scrollbar-width: none;
}

.gig-finder .filter-bar .selected-dates::-webkit-scrollbar {
    display: none;
}

.gig-finder .filter-bar .selected-dates:hover {
    background-color: var(--gn-grey-300);
}

.gig-finder .filter-bar:hover {
    box-shadow: 0 0 10px var(--gn-grey-500);
    cursor: pointer;
}

.gig-finder .filter-bar .btn.primary {
    background-color: var(--gn-off-black);
    border-radius: 2rem;
}

.gig-finder .filter-bar #date-picker {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border:1px solid transparent;
    width:fit-content;
    text-align: center;
    font-weight: 600;
}

.gig-finder .filter-bar #date-picker:focus {
    outline: none;
}

.gig-finder .preview-gig-list {
    position: absolute;
    right: 0;
    top: 0;
    width:400px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 1rem;
}

.gig-finder .preview-gig-list::-webkit-scrollbar {
    display: none;
}

.gig-finder .preview-gig-list .preview-gig-item {
    position: relative;
    background-color: var(--gn-white);
    border: 1px solid var(--gn-grey-350);
    box-shadow: 0 0 5px var(--gn-shadow);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    height: 75px;
    padding: 0;
    overflow: hidden;
    padding-right: 1rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.gig-finder .preview-gig-list .preview-gig-item:hover {
    background-color: var(--gn-grey-300);
}

.gig-finder .preview-gig-item .btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    background-color: transparent;
    border:none;
}

.gig-finder .preview-gig-item .btn .icon {
    font-size: 1rem;
}

.gig-finder .preview-gig-list .preview-gig-item-venue {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    gap:10px;
    height: 100%;
}

.gig-finder .preview-gig-list .preview-gig-img {
    width:25%;
    height:100%;
    overflow: hidden;
}

.gig-finder .preview-gig-list .preview-gig-img img {
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: all 200ms linear;
}

.gig-finder .preview-gig-item:hover .preview-gig-img img {
    transform: scale(1.1);
}

.gig-finder .preview-gig-list .preview-gig-info p {
    font-size: 0.9rem;
}

.gig-finder .preview-gig-list .preview-gig-info h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gig-finder .preview-gig-list .preview-gig-budget {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CONTROL BUTTON */

.gig-finder .btn.view-type {
    position: absolute;
    bottom: 1rem;
    left:50%;
    transform: translateX(-50%);
    font-weight: 500;
    background-color: var(--gn-off-black);
    color: var(--gn-white);
    border-radius: 10px;
    border:1px solid transparent;
    transition: all 200ms linear;
}

.gig-finder .btn.view-type:hover {
    background-color: var(--gn-white);
    color: var(--gn-black);
    border:1px solid var(--gn-grey-500);
}


/* LIST VIEW */

.gig-finder .list-view {
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.gig-finder .list-view .filter-bar {
    margin: 1.25% auto;
}

.gig-finder .list-view .gigs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gig-finder .gigs-list .gig-item {
    border:1px solid var(--gn-grey-300);
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--gn-shadow);
    transition: box-shadow 200ms linear;
    cursor: pointer;
}

.gig-finder .gigs-list .gig-item:hover {
    box-shadow: 5px 5px 10px var(--gn-shadow);
}

.gig-finder .gigs-list .gig-item:hover .gig-img img {
    transform: scale(1.05);
}

.gig-finder .gigs-list .gig-item .gig-img {
    width:100%;
    height: 60%;
    overflow: hidden;
}

.gig-finder .gigs-list .gig-item .gig-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 200ms linear;
}

.gig-finder .gigs-list .gig-item .gig-info {
    width:100%;
    height: 40%;
    overflow: hidden;
    padding:5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gig-finder .gigs-list .gig-item .gig-info .venue-and-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gig-finder .gigs-list .gig-item .gig-info .venue-and-location h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    margin: 0;
}

.gig-finder .gigs-list .gig-item .gig-info p {
    color: var(--gn-grey-600);
    font-weight: 500;
}

.gig-finder .gigs-list .gig-item .gig-info .time-and-date {
    display: flex;
    justify-content: space-between;
}

.gig-finder .list-view .no-gigs {
    margin:5% 0;
    text-align: center;
}