
.gig-finder {
    min-height: 100vh;
    height:100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
    overflow: hidden;
}

.gig-finder .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100% - 400px);
    min-height: 100%;
    padding: 0 2.5%;
    padding-bottom: 1rem;
    overflow: hidden;
}

.gig-finder .body .top-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
  
.gig-finder .body .top-banner .filter-header {
    display: flex;
    align-items: center;
    gap:1rem;
}

.gig-finder .body .top-banner .results-header {
    display: flex;
    align-items: center;
    gap:1rem;
}

.gig-finder .body .top-banner .results-header .select {
    padding:0.5rem;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    background-color: var(--gn-grey-300);
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

.gig-finder .body .top-banner .results-header .select:focus {
    outline-color: var(--gn-off-black);
    border-color: var(--gn-off-black);
}
  
.gig-finder .body .filter-button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
}
  
.gig-finder .body .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 90%;
    max-height: 90%;
    width: 100%;
    transition: grid-template-columns 0.3s ease;
}
  
.gig-finder .body .content-grid.with-filters {
    grid-template-columns: 300px auto;
}
  
.gig-finder .filters-container {
    background: white;
    padding-right: 1rem;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
  }
  
.gig-finder .filters-container::-webkit-scrollbar {
    display: none;
}

.gig-finder .filters-container .filter-buttons,
.gig-finder .filters-container h2 {
    display: flex;
    flex-direction: column;
    gap:5px;
    position: sticky;
    bottom: 0;
    width:100%;
    padding: 0.5rem 0;
    background-color: var(--gn-white);
}

.gig-finder .filters-container h2 {
    top: 0;
}

.gig-finder .filters-container .filters-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

.gig-finder .filters-container .filters-body .button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding:0.1rem;
}

.gig-finder .filters-container .filters-body .button-toggle-group .btn {
    background-color: var(--gn-white);
    border:1px solid var(--gn-grey-400);
    outline: 1px solid transparent;
    border-radius: 0.5rem;
    padding:0.5rem 0.75rem;
    font-weight: 500;
    transition: all 200ms linear;
}

.gig-finder .filters-container .filters-body .button-toggle-group .btn:hover {
    background-color: var(--gn-grey-300);
}

.gig-finder .filters-container .filters-body .button-toggle-group .btn.selected {
    border-color: var(--gn-off-black);
    outline-color: var(--gn-off-black);
}

.gig-finder .filters-container .select:focus {
    outline-color: var(--gn-off-black);
}

.gig-finder .filters-container .checkbox {
    margin-bottom: 2px;
    text-transform: none;
    font-size: 1rem;
    color: var(--gn-black);
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.gig-finder .filters-container .checkbox #genres {
    outline:none;
}

.gig-finder .filters-container .calendar {
    width:fit-content;
    position: relative;
    margin-left: 0.5rem;
}

.gig-finder .filters-container .calendar .react-datepicker {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gig-finder .filters-container .calendar .react-datepicker__header,
.gig-finder .filters-container .calendar .react-datepicker__current-month,
.gig-finder .filters-container .calendar .react-datepicker__day-name {
    background-color: var(--gn-grey-300);
}

.gig-finder .filters-container .calendar .react-datepicker__day--selected,
.gig-finder .filters-container .calendar .react-datepicker__day--in-range,
.gig-finder .filters-container .calendar .react-datepicker__day--in-selecting-range {
    background-color: var(--gn-off-black);
    color: var(--gn-white);
}

.gig-finder .filters-container .filter-buttons {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.gig-finder .output-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
  
.gig-finder .output-container .map {
    border-radius: 1rem;
    width: 100%;
    flex-grow: 1;
    transition: height 0.3s ease;
}
  
.gig-finder .preview-gig-container {
    width: 100%;
    padding: 1rem;
    background: var(--gn-white);
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.gig-finder .output-container .map-loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gig-finder .preview-gig-container::-webkit-scrollbar {
    display: none;
}

.gig-finder .preview-gig-list {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.gig-finder .preview-gig-item {
    min-width: 325px;
    width:325px;
    max-width: 325px;
    background: white;
    border-radius: 0.75rem;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.gig-finder .preview-gig-list .preview-gig-item {
    position: relative;
    background-color: var(--gn-white);
    border: 1px solid var(--gn-grey-350);
    box-shadow: 0 0 5px var(--gn-shadow);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 75px;
    padding: 0;
    overflow: hidden;
    padding-right: 1rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.gig-finder .preview-gig-list .preview-gig-item:hover {
    background-color: var(--gn-grey-300);
}

.gig-finder .preview-gig-item .btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    background-color: transparent;
    border:none;
}

.gig-finder .preview-gig-item .btn .icon {
    font-size: 1rem;
}

.gig-finder .preview-gig-list .preview-gig-item-venue {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    gap:10px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.gig-finder .preview-gig-list .preview-gig-img {
    width:30%;
    height:100%;
    max-height: 75px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 0.5rem;
}

.gig-finder .preview-gig-list .preview-gig-img img {
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: all 200ms linear;
}

.gig-finder .preview-gig-item:hover .preview-gig-img img {
    transform: scale(1.1);
}

.gig-finder .preview-gig-list .preview-gig-info {
    width:100%;
    overflow: hidden;
}

.gig-finder .preview-gig-list .preview-gig-info p {
    font-size: 0.9rem;
}

.gig-finder .preview-gig-list .preview-gig-info h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gig-finder .preview-gig-list .preview-gig-budget {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gig-finder .preview-gig-list .preview-gig-budget .budget.text {
    font-size: 1rem;
    text-align: center;
}


/* CONTROL BUTTON */

.gig-finder .btn.view-type {
    position: absolute;
    bottom: 1rem;
    left:50%;
    transform: translateX(-50%);
    font-weight: 500;
    background-color: var(--gn-off-black);
    color: var(--gn-white);
    border-radius: 10px;
    border:1px solid transparent;
    transition: all 200ms linear;
}

.gig-finder .btn.view-type:hover {
    background-color: var(--gn-white);
    color: var(--gn-black);
    border:1px solid var(--gn-grey-500);
}

.gig-finder .btn.danger {
    top:2px;
}

.gig-finder .btn.danger .icon {
    font-size: 0.75rem;
}


/* LIST VIEW */

.gig-finder .output-container.list-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto; /* <-- was scroll */
    overflow-x: hidden;
}

.gig-finder .list {
    flex: 1; /* fill container */
    overflow-y: auto;
    padding-bottom: 1rem;
}

.gig-finder .list .gigs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gig-finder .gigs-list .gig-item {
    width: 25%;
    min-width: 250px;
    max-width: 275px;
    max-height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    border:1px solid transparent;
    transition: all 200ms linear;
}

.gig-finder .gigs-list .gig-item:hover {
    border:1px solid var(--gn-grey-300);
    box-shadow: 0 0 4px var(--gn-shadow);
}

.gig-finder .gigs-list .gig-item:hover .gig-img img {
    transform: scale(1.05);
}

.gig-finder .gigs-list .gig-item .gig-img {
    border-radius: 1rem;
    width:100%;
    height: 60%;
    overflow: hidden;
}

.gig-finder .gigs-list .gig-item .gig-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 200ms linear;
}

.gig-finder .gigs-list .gig-item .gig-info {
    width:100%;
    height: 40%;
    overflow: hidden;
    padding:5px 10px;
    display: flex;
    flex-direction: column;
    gap:2px;
}

.gig-finder .gigs-list .gig-item .gig-info .venue-and-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gig-finder .gigs-list .gig-item .gig-info .venue-and-location h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    margin: 0;
}

.gig-finder .gigs-list .gig-item .gig-info p {
    color: var(--gn-grey-600);
    font-weight: 500;
}

.gig-finder .gigs-list .gig-item .gig-info .time-and-date {
    display: flex;
    justify-content: space-between;
}

.gig-finder .list .no-gigs {
    margin:5% 0;
    text-align: center;
}

.gig-finder .gigs-list .gig-item .venue-name {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--gn-off-black);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gig-finder .gigs-list .gig-item .venue-distance {
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--gn-off-black);
    text-wrap: nowrap;
}

.gig-finder .gigs-list .gig-item .venue-distance .icon {
    font-size: 0.8rem;
}

.gig-finder .gigs-list .gig-item .text {
    font-weight: 400 !important;
    font-size: 0.9rem;
    margin:0;
}

.gig-finder .gigs-list .gig-item .fee {
    margin-top: 5px;
    font-size: 1.1rem;
    color: var(--gn-off-black);
}