
.profile-creator {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

.profile-creator .progress-bar-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 5px;
    margin-bottom: 20px;
}

.profile-creator .progress-bar-section {
    position: relative;
    background-color: var(--gn-grey-400);
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.profile-creator .progress-bar-section:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.profile-creator .progress-bar-section:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-creator .progress-bar-gap {
    width: 5px;
}

.profile-creator .progress-bar {
    height: 100%;
    background-color: var(--gn-black);
    transition: width 0.4s ease;
}