.home {
    height:100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}
.home .body {
    height:100%;
}

@media (max-width: 768px) {
    .home {
        grid-template-rows: 1fr min-content;
    }
}
