.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
}
.logo-img {
    width:40px;
    height:40px;
}
.logo-text {
    font-size: 1.75rem;
    color: var(--black);
    font-weight: 500;
    font-family: var(--quicksand-font);
}