/* User Type Stage */
.user-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5rem;
    transition: 200ms linear;
}
.user-type .title {
    transition: 200ms linear;
}
.user-type .options {
    align-items: center;
    justify-content: center;
    gap:5rem;
}

/* Mobile */
.profile-creator.mobile .user-type {
    justify-content: center;
    gap:2rem;
}
.profile-creator.mobile .user-type .options {
    flex-direction: column;
    gap:1rem;
}