.app {
    height:100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}
.app-body {
    height:100%;
    overflow: scroll;
    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.app-body::-webkit-scrollbar {
    display: none;
}