/* All buttons */
.btn {
    font-family: var(--default-font);
}

/* MyGigin Button */
.my-gigin-button {
    display: flex;
    align-items: center;
    border:1px solid var(--light-medium-grey);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--white);
}
.my-gigin-button:hover {
    box-shadow: 2px 2px 5px var(--medium-dark-grey);
    cursor: pointer;
    transition: 200ms linear;
}
.my-gigin-button.active {
    box-shadow: 2px 2px 5px var(--medium-dark-grey);
}
.my-gigin-button .text {
    font-weight: 300;
    font-size: 1rem;
    border-right: 1px solid var(--light-medium-grey);
    padding-right: 0.5rem;
}
.my-gigin-button .menu-icon {
    color: var(--medium-dark-grey);
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

/* Change view button */
.change-view-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border:none;
    padding: 0.5rem 1rem;
    background-color: var(--white);
    border-radius: 25px;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--light-medium-grey);
    display: flex;
    gap:0.5rem;
}
.change-view-btn:hover {
    box-shadow: 2px 2px 5px var(--medium-dark-grey);
}