:root {
    --fc-border-color: #ffffff00;
}
.fc {
    min-width: 300px;
}
.fc-toolbar-title {
    font-family: var(--default-font);
    font-weight: 300;
    font-size: 1rem !important;
}
.fc .fc-today-button {
    text-transform: capitalize;
    cursor: pointer;
    border:none;
    background: none !important;
    color: var(--black) !important;
}
.fc .fc-today-button:hover {
    color: var(--gigin-orange) !important;
}
.fc .fc-next-button, .fc .fc-prev-button {
    background: none !important;
    color: var(--black) !important;
    border:none;
}
.fc .fc-next-button:hover, .fc .fc-prev-button:hover {
    color: var(--gigin-orange) !important;
}
.fc .fc-col-header-cell {
    font-weight: 400;
}
tbody .fc-day {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
}
tbody .fc-day:hover {
    color: var(--dark-grey);
    font-weight: 400;
}
.fc-daygrid-day-events {
    display: none;
}
.fc-daygrid-day-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fc-day-past {
    color:var(--light-grey) !important;
}
.fc-day-past:hover {
    cursor: auto;
}
.fc-day-today {
    background-color: #fff !important;
    font-weight: 600 !important;
}