/* Musician Type Stage */
.musician-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    transition: 200ms linear;
}
.musician-type .title {
    transition: 200ms linear;
}
.musician-type .options {
    justify-content: center;
    width:100%;
    padding: 0 2rem;
}
.musician-type .card {
    margin:1rem;
    max-width: 100px;
    height: 150px;
    text-align: center;
}

/* Mobile */
.profile-creator.mobile .musician-type {
    justify-content: flex-start;
    gap:2rem;
}
.profile-creator.mobile .musician-type .options {
    flex-direction: column;
}