.gigs-tile .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
}
.gigs-tile .top .profiles {
    display: flex;
    gap:1rem;
}

.gigs-tile .options {
    margin-top:1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.gigs-tile .options .list {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}