.control-centre .body {
    padding: 2rem 5%;
}
.control-centre .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.control-centre .banner h1 {
    font-weight: 400;
    font-size: 2rem;
}
.control-centre .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

/* All tiles */
.control-centre .title {
    font-weight: 400;
    font-size: 1.5rem;
}
.control-centre .subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}
.control-centre .tile {
    border-radius: 1rem;
    padding:1.5rem;
}
.control-centre .tile.bckgrd-grey {
    background-color: var(--light-grey);
}
.control-centre .tile.bckgrd-white {
    background-color: var(--white);
}

/* Constant tiles */
.control-centre .main .constants {
    width:100%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:1rem;
}

/* Variable tiles */
.control-centre .main .variables {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

/* General tiles */
.control-centre .general .options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.control-centre .general .options p {
    font-weight: 300;
}

