/* Multiple image inputs */
.multiple-image-inputs-cont {
    background-color: var(--light-grey);
    width:50%;
    min-width: 250px;
    height:75%;
    min-height:250px;
    border-radius: 1rem;
    overflow: hidden;
}
.multiple-image-inputs-cont .insert-image-label {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-grey);
    gap:1rem;
    position: relative;
    transition: 200ms linear;
}
.multiple-image-inputs-cont .insert-image-label:hover {
    color: var(--light-medium-grey);
    cursor: pointer;
    transition: 200ms linear;
}
.multiple-image-inputs-cont .insert-image-label .icon {
    font-size: 2.5rem;
}
.multiple-image-inputs-cont .insert-image-label span {
    font-weight: 300;
}
.multiple-image-inputs-cont .preview-image {
    width:100%;
    height:100%;
}
.multiple-image-inputs-cont .remove-image {
    width:100%;
    height:100%;
    position: absolute;
    background-color: var(--trans-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    color: var(--white);
    opacity: 0;
    transition: 200ms linear;
}
.multiple-image-inputs-cont .remove-image:hover {
    opacity: 1;
    transition: 200ms linear;
}
.multiple-image-inputs-cont .image-input {
    display: none;
}
/* Bar under images */
.image-change-bar {
    background-color: var(--dark-grey);
    padding:1rem;
    border-radius: 1rem;
    width:50%;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-change-bar.right-flex:first-child {
    opacity: 0;
}
.image-change-bar .icon {
    font-size: 1.5rem;
    padding:0.25rem 0.5rem;
    border-radius: 0.25rem;
    transition: 200ms linear;
}
.image-change-bar .icon:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--dark-grey);
    transition: 200ms linear;
}
.image-change-bar .icon.disabled {
    color: var(--dark-grey);
    cursor: auto !important;
}
.image-change-bar .icon.disabled:hover {
    background-color: var(--dark-grey);
}
.image-change-bar h3 {
    font-weight: 400;
}