.accounts {
    width:100%;
    min-height:100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}
.accounts-left {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.accounts-box {
    background-color: var(--light-grey);
    padding:2.5rem 5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.title {
    font-weight: 400;
}
.error-box {
    border: 1px solid var(--red);
    padding:0.5rem;
    font-size: 0.8rem;
    background-color: var(--trans-red);
    border-radius: 0.5rem;
    color: var(--red);
}
.accounts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}
.accounts-right {
    border:5px solid var(--gigin-orange);
    border-radius: 2rem 0 0 2rem;
    background-color: var(--medium-dark-grey);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.external-link .link {
    font-size: 0.8rem;
    color: var(--black);
}
.external-link .link:hover {
    text-decoration: underline;
}
@media screen and (max-width:768px) {
    .accounts {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
    }
    .accounts-right {
        display: none;
    }
}