.account-page {
    margin: 2rem auto;
}

.account-page .heading {
    padding: 2rem 0;
    border-bottom: 1px solid var(--gn-grey-350);
}

.account-page .account-settings,
.account-page .profile-settings {
    border-bottom:1px solid var(--gn-grey-350);
    width:90%;
    margin: 1rem auto;
    padding: 2rem;
}

.account-page .account-settings h2 {
    margin-bottom: 1rem;
}

.account-page .account-settings .img-settings h3,
.account-page .account-settings .name-settings h3,
.account-page .account-settings .email-settings h3,
.account-page .account-settings .password-settings h3,
.account-page .account-settings .delete-settings h3 {
    margin-bottom: 5px;
}

.account-page .account-settings .data-highlight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid var(--gn-grey-350);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--gn-grey-100);
}

.account-page .account-settings .password-settings,
.account-page .account-settings .name-settings {
    margin: 1rem 0;
}

.account-page .profile-settings .account-profile-list {
    list-style: none;
    margin: 1rem 0;
}

.account-page .profile-settings .account-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--gn-grey-100);
    box-shadow: 0 0 5px var(--gn-shadow);
    margin: 1rem 0;
}

.account-page .profile-settings .account-profile-img {
    min-width: 75px;
    min-height: 75px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.account-page .profile-settings .account-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-page .profile-settings .account-profile-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-page .profile-settings .account-profile-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:5px;
}

.account-page .account-settings .img-settings .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-page .account-settings .img-settings .image-container.data-highlight {
    width: fit-content;
}

.account-page .account-settings .img-settings .image-container .upload-btn {
    margin-top: 0.5rem;
}

.account-page .account-settings .img-settings .input.photo {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--gn-grey-300);
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.account-page .account-settings .img-settings .image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--gn-grey-300);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.account-page .account-settings .img-settings .image-preview .icon {
    font-size: 2rem;
    color: var(--gn-grey-600);
}
