.card-details-form {
    width: 100%;
    height: 100%;
}

.card-details-form .card-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap:10px;
    height: 100%;
}

.card-details-form .card-details-container h4 {
    margin-top: 10px;
    width:100%;
}

.card-details-form .card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.card-details-form .field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-details-form .card-number-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid var(--gn-grey-300);
    padding: 5px;
    width: 100%;
    min-width: 75px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--gn-shadow);
}

.card-details-form .card-number-container #card-number {
    width: 100%;
}

.card-details-form .card-number-container .card-brand-icon {
    width:40px;
    height:auto;
}

.card-details-form .card-number-container:focus {
    border:1px solid var(--gn-off-black);
    outline: none;
}

.card-details-form .label {
    margin-bottom: 2px;
    color: var(--gn-grey-600);
}

.card-details-form .input,
.card-details-form #card-expiry,
.card-details-form #card-cvc {
    border:1px solid var(--gn-grey-300);
    padding: 5px;
    width: 100%;
    min-width: 75px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--gn-shadow);
    font-weight: 500;
}

.card-details-form #cardholder-name {
    font-weight: 400;
}

.card-details-form .input:focus,
.card-details-form #card-expiry:focus,
.card-details-form #card-cvc:focus {
    border:1px solid var(--gn-off-black);
    outline: 1px solid var(--gn-off-black);
}

.card-details-form .exp-cvc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
}

.card-details-form .card-details-container .address-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:5%;
}

.card-details-form .card-details-container .address-flex .input {
    font-weight: 400;
}

.card-details-form .save-card {
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
}

.card-details-form .save-card label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.card-details-form .btn.primary {
    width:100%;
    margin-top: 0.5rem;
}

.card-details-form .loading-card-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}