@import '@styles/breakpoints.css';

/* WHOLE DASHBOARD LAYOUT */
.dashboard {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: 275px auto;
    overflow: hidden;
}

@media (--bp-md) {
    .dashboard {
        display: block;
    }
}


/* DASHBOARD RIGHT WINDOW */
.dashboard .window {
    background-color: var(--gn-grey-200);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-left: 1rem;
}

.dashboard .window .output {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: 0;
}

.dashboard .window .output::-webkit-scrollbar {
    display: none;
}

.dashboard .window .head {
    position: sticky;
    top: 0;
    background-color: var(--gn-grey-200);
    padding: 2%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dashboard .window .body {
    max-width:100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
}

@media (--bp-md) {
    .dashboard .window {
        width:100%;
        padding:0 0.5rem;
    }
    .dashboard .window .head {
        padding: 1.5rem 0;
    }
    .dashboard .window .body {
        width:100%;
        padding: 0;
    }
}


.dashboard .window .output .head .title {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.dashboard .window .output .head .title.requests {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .window .breadcrumbs {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--gn-grey-300);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.5rem;
    margin: 0 2%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.dashboard .window .breadcrumbs .breadcrumb-separator .icon {
    color: var(--gn-grey-600);
    font-size: 0.8rem;
    margin-bottom: 1px;
}

.dashboard .window .breadcrumbs .breadcrumb {
    padding: 0.5rem 1rem;
    color: var(--gn-grey-600);
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 200ms linear;
}
  
.dashboard .window .breadcrumbs .breadcrumb:has(.breadcrumb-link) {
    cursor: pointer;
}
  
.dashboard .window .breadcrumbs .breadcrumb:has(.breadcrumb-link):hover {
    background-color: var(--gn-grey-350);
}
  
.dashboard .window .breadcrumbs .breadcrumb-link {
    color: var(--gn-grey-600);
    transition: color 200ms linear;
}
  
.dashboard .window .breadcrumbs .breadcrumb-text {
    color: var(--gn-black);
}


/* DAHSBOARD LEFT SIDEBAR */

.dashboard .sidebar {
    background-color: var(--gn-grey-200);
    padding: 0 var(--gn-spacing-x);
    position: relative;
    width:100%;
}

.dashboard .sidebar .logo {
    display: flex;
    align-items: center;
}

.dashboard .sidebar.musician .logo {
    margin-bottom: 1rem;
}

.dashboard .sidebar .logo-text {
    font-family: var(--gn-logo-font);
}

.dashboard .sidebar .beta-box {
    background-color: var(--gn-offset-orange);
    color: var(--gn-orange);
    border:1px solid var(--gn-orange);
    border-radius: 5px;
    padding:2px 5px;
    margin-top: 6px;
    margin-left: 1px;
}

.dashboard .sidebar .beta-box p {
    font-weight: 600;
}

.dashboard .sidebar .account-dropdown {
    background-color: var(--gn-white);
    margin:1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    border:1px solid var(--gn-grey-400);
    box-shadow: 0 0 2px var(--gn-shadow);
    border-radius: 0.5rem;
    padding:0.5rem;
    width:100%;
    height:75px;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
}

.dashboard .sidebar .account-dropdown.open {
    height:155px;
}

.dashboard .sidebar .account-dropdown-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:0.5rem;
    border-radius: 0.5rem;
    border:1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 200ms linear, border-color 200ms linear;
}

.dashboard .sidebar .account-dropdown-item:first-of-type {
    padding: 0;
}

.dashboard .sidebar .account-dropdown-item.red {
    color: red;
}

.dashboard .sidebar .account-dropdown-item.red:hover {
    background-color: transparent;
    border-color: red;
}

.dashboard .sidebar .account-dropdown-item:hover {
    background-color: var(--gn-grey-300);
}

.dashboard .sidebar .account-dropdown-item:hover:first-of-type {
    background-color: transparent;
}

.dashboard .sidebar .account-dropdown-item .account-info {
    width: 90%;
}

.dashboard .sidebar .account-dropdown h4 {
    margin: 2px 0;
}

.dashboard .sidebar .account-dropdown .user-container {
    margin:5px 0;
    display: flex;
    align-items: center;
    gap:5px;
    overflow: hidden;
}

.dashboard .sidebar .account-dropdown .user-container .icon {
    font-size: 1.5rem;
}

.dashboard .sidebar .account-dropdown .user-container .user-details p {
    max-width:100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard .sidebar .account-dropdown .icon {
    font-size: 1rem;
}

.dashboard .sidebar .btn.primary {
    margin:1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 1rem;
    gap: 0.5rem;
    box-shadow: 0 0 10px var(--gn-grey-400);
    transition: all 200ms ease-in-out;
}

.dashboard .sidebar .btn.primary:hover {
    box-shadow: none;
}

.dashboard .sidebar .icon {
    font-size: 1.5rem;
}

.dashboard .sidebar .menu {
    list-style: none;
}

.dashboard .sidebar .menu-item {
    margin:0.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    cursor: pointer;
    padding:0.5rem;
    font-size: 1.1rem;
    border-radius: var(--gn-btn-border-radius);
    color: var(--gn-grey-700);
    transition: background-color 0.2s linear;
}

.dashboard .sidebar .menu-item .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.dashboard .sidebar .menu-item .notification {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .sidebar .menu-item .notification .icon {
    font-size: 0.5rem;
    color: var(--gn-orange);
}

.dashboard .sidebar .menu-item:first-of-type {
    margin-top: 0;
}

.dashboard .sidebar .menu-item:hover {
    background-color: var(--gn-grey-300);
}

.dashboard .sidebar .menu-item .icon {
    padding: 0.5rem;
    font-size: 1.25rem;
}

.dashboard .sidebar .menu-item.active {
    background-color: var(--gn-offset-orange);
    color: var(--gn-orange);
    font-weight: 500;
}

.dashboard .sidebar .menu-item.active .icon {
    color: var(--gn-orange);
}

.dashboard .sidebar .menu-item.sub {
    margin: 0;
    margin-left: 20px;
    padding-left: 2rem;
    border-left: 1px solid var(--gn-grey-400);
    border-radius: 0;
    font-size: 0.9rem;
}

.dashboard .sidebar .menu-item.sub.top {
    padding-top:0;
    margin-top:5px;
}

.dashboard .sidebar .menu-item.sub.bottom {
    padding-bottom:0;
}

.dashboard .sidebar .menu-item.sub:hover {
    background-color: transparent;
}

.dashboard .sidebar .feedback-outer-container {
    position: absolute;
    bottom:1rem;
    left:1rem;
    right: 0;
}

.dashboard .sidebar .feedback-outer-container .btn.tutorial {
    margin-bottom: 1rem;
}

.dashboard .sidebar .feedback-container {
    border:1px solid var(--gn-grey-300);
    border-radius: 1rem;
    box-shadow: 0 0 3px var(--gn-shadow);
    background-color: var(--gn-white);
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:5px;
    min-height: 100px;
}

.dashboard .sidebar .feedback-container {
    background-image: url('/src/assets/images/blob-bckgrd.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dashboard .sidebar .feedback-container .feedback-header {
    display: flex;
    align-items: center;
    gap:5px;
}

.dashboard .sidebar .feedback-container .feedback-copy {
    color: var(--gn-grey-700);
}

.dashboard .sidebar .feedback-container .btn {
    width:fit-content;
    padding:0.25rem 0.5rem;
    font-size: 1rem;
    background-color: var(--gn-offset-orange);
    color:var(--gn-orange);
    box-shadow: none;
    margin:0;
}

.dashboard .sidebar .feedback-container .feedback-input {
    width:100%;
    max-width: 100%;
    min-width: 100%;
    height:100px;
    max-height:100px;
    min-height: 100px;
    border:1px solid var(--gn-off-black);
    outline: 1px solid transparent;
    border-radius:0.5rem;
    padding:0.5rem;
    transition: outline-color 200ms linear;
}

.dashboard .sidebar .feedback-container .feedback-input:focus {
    outline-color: var(--gn-off-black);
}