@import '@styles/breakpoints.css';


/* HEADER */
.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:1rem;
    left:0;
    right:0;
    z-index: 2;
}

.header .left,
.header .right {
    background-color: var(--gn-white);
    box-shadow: 0 0 5px var(--gn-grey-400);
    position: relative;
    padding:0.5rem 0.5rem;
    border-radius: var(--gn-border-radius);
}

.header .logo.no-text {
    margin:0 0.5rem;
    margin-top: -8px;
}

.header .logo.no-text:hover .link {
    color: var(--gn-orange);
    transition: color 200ms linear;
}

.header .left,
.header .right,
.header .right .buttons,
.header .right .btn {
    display: flex;
    align-items: center;
}

.header .left.venues {
    gap:145px;
}


.header .left.musician {
    gap:127px;
}

@media (max-width: 1268px) {
    .header .left.venues {
        gap:67px;
    }

    .header .left.musician {
        gap:47px;
    }
}

.header .right {
    gap:0.5rem;
}

.header .right .link {
    margin:0 2rem;
    margin-left: 2rem;
}

.header .right .btn.account .icon {
    font-size: 1.5rem;
}

.header .right .btn.primary.important {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.header .right .btn {
    gap:10px
}

.header .left .breadcrumbs {
    display: flex;
    align-items: center;
}

.header .left .breadcrumbs .icon {
    margin: 0 5px;
    font-size: 0.5rem;
}

.header .left .breadcrumbs .item {
    font-size: 0.9rem;
}

.header .left .breadcrumbs .item.active {
    font-weight: 600;
}

/* ACCOUNT MENU */

.header .account-btn {
    border:1px solid transparent;
    background-color: var(--gn-off-black);
    color: var(--gn-white);
    padding: 8px 12px;
    border-radius: 2rem;
    box-shadow: 0 0 5px var(--gn-shadow);
    transition: all 200ms linear;
}

.header .account-btn:hover {
    background-color: var(--gn-grey-200);
    border: 1px solid var(--gn-grey-350);
}

.header .account-btn .icon,
.header .account-btn .withdrawable-earnings {
    transition: all 200ms linear;
}

.header .account-btn .icon {
    font-size: 1.5rem;
    box-shadow: 0 0 2px var(--gn-shadow);
    color: var(--gn-white);
}

.header .account-btn:hover .icon,
.header .account-btn:hover .withdrawable-earnings {
    color: var(--gn-black);
}

.header .account-btn.active {
    background-color: var(--gn-grey-200);
    border: 1px solid var(--gn-grey-350);
}

.header .account-btn.active .icon,
.header .account-btn.active .withdrawable-earnings {
    color: var(--gn-black);
}

.header .account-menu {
    position: absolute;
    min-width: 250px;
    right:5%;
    top:65px;
    background-color: var(--gn-white);
    padding:1rem;
    border: 1px solid var(--gn-grey-300);
    border-radius: var(--gn-border-radius);
    box-shadow: 0 0 10px var(--gn-shadow);
    z-index: 100;
}

.header .account-menu .item {
    margin-bottom:10px;
    padding:5px 10px;
    border-radius: var(--gn-btn-border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s linear;
}

.header .account-menu .item.name-and-email {
    cursor: auto;
}

.header .account-menu .item.no-margin {
    margin-bottom:5px;
}

.header .account-menu .item:hover {
    background-color: var(--gn-grey-300);
}

.header .account-menu .item.message > .icon {
    color: var(--gn-orange);
}

.header .account-menu .item.settings {
    margin-top: 10px;
}

.header .account-menu .btn.logout {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    font-weight: 400;
    border-radius: var(--gn-btn-border-radius);
}

.header .account-menu .break {
    width: 100%;
    height:1px;
    background-color: var(--gn-grey-400);
    margin: 5px 0;
}


/* MESSAGES */

.header .btn.messages {
    position: relative;
}

.header .notification-dot {
    position: absolute;
    top:-8px;
    right:-3px;
}

.header .notification-dot .icon {
    color: var(--gn-orange);
    font-size: 0.75rem;
}


/* SPECIFIC ELEMENTS */

.header .account-menu .name-and-email {
    flex-direction: column;
    align-items: flex-start;
}

.header .account-menu .name-and-email:hover {
    background-color: transparent;
}

.header .account-menu .name-and-email p {
    font-size: 0.9rem;
    color: var(--gn-black);
}

.header .account-menu .title {
    padding: 5px 10px;
}


/* MOBILE */

.mobile-menu {
    position: absolute;
    min-width: 250px;
    right:2.5%;
    top:8%;
    background-color: var(--gn-white);
    padding:1rem;
    border: 1px solid var(--gn-grey-300);
    border-radius: var(--gn-border-radius);
    box-shadow: 0 0 10px var(--gn-shadow);
    z-index: 100;
}

.mobile-menu .item {
    margin-bottom:10px;
    padding:5px 10px;
    border-radius: var(--gn-btn-border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s linear;
}

.mobile-menu .item:hover {
    background-color: var(--gn-grey-300);
}

.mobile-menu .item.no-margin {
    margin-bottom:5px;
}

.mobile-menu .item.message > .icon {
    color: var(--gn-orange);
}

.mobile-menu .two-buttons {
    justify-content: center;
    gap:5px;
}

.mobile-menu .two-buttons .btn {
    flex: 1;
}

.mobile-menu .btn.inline {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    font-weight: 400;
    margin-bottom: 5px;
    border-radius: var(--gn-btn-border-radius);
}


.mobile-menu .btn.logout {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    font-weight: 400;
    border-radius: var(--gn-btn-border-radius);
}

.mobile-menu .break {
    width: 100%;
    height:1px;
    background-color: var(--gn-grey-350);
    margin: 10px 0;
}

.mobile-menu .item.message {
    position: relative;
}

.mobile-menu .item.message div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    gap:5px;
    margin-right: 5px;
}

.mobile-menu .item.message .notification-dot {
    background-color: var(--gn-orange);
    width:8px;
    height:8px;
    border-radius: 50%;
}

.mobile-menu .name-and-email {
    cursor: auto;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-menu .name-and-email:hover {
    background-color: transparent;
}

.mobile-menu .name-and-email p {
    font-size: 0.9rem;
    color: var(--gn-black);
}

.mobile-menu .title {
    padding: 5px 10px;
}

/* MUSICIAN */

.header.musician {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header.musician .left-block,
.header.musician .right-block {
    display: flex;
    align-items: center;
    background-color: var(--gn-white);
    box-shadow: 0 0 5px var(--gn-shadow);
    padding:0.5rem 0.5rem;
    border-radius: var(--gn-border-radius);
    overflow: hidden;
}

.header.musician .right-block {
    width: calc(35vw - 4rem);
    min-width: calc(400px - 4rem);
    max-width: calc(600px - 4rem);
    justify-content: space-around;
}

.header.musician .right-block.empty {
    width: auto;
    min-width: auto;
    max-width: auto;
}

.header.musician .link {
    font-weight: 500;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms linear;
}

@media (--bp-xl) {
    .header.musician .link {
        padding:0.5rem 0.75rem;
    }
}

.header.musician .logo .link {
    padding:none !important;
    background-color: transparent !important;
}

.header.musician .link:hover {
    background-color: var(--gn-grey-300);
}

.header.musician .link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}