@import '../breakpoints.css';

.landing-page {
    background-color: var(--gn-grey-200);
    display: grid;
    max-width:100vw;
    grid-template-columns: repeat(2, 1fr);
    gap:2%;
    padding:2%;
    min-height: 90vh;
}

.landing-page.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page .heading {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page .welcome-hero {
    display: flex;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
}

.landing-page .welcome-hero .logo {
    margin-top: -1rem;
}

.landing-page .welcome-hero h1 {
    margin-bottom: -2rem;
    font-size: 5rem;
    font-weight: 500;
}

.landing-page .heading .btn.tertiary {
    margin-top: 3rem;
    padding: 1.5rem !important;
    font-size: 1.25rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.landing-page .sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (--bp-md) {
    .landing-page {
        display: flex;
        flex-direction: column;
        min-height: 75vh;
    }

    .landing-page .heading {
        padding: 10rem 0.5rem;
    }

    .landing-page .heading .two-buttons {
        margin-top: 5rem;
    }

    .landing-page .sign-up-form {
        display: none;
    }
}