
/* MESSAGE PAGE */
.layout-messages {
    background-color: var(--gn-grey-300);
    max-height:100vh;
}

.layout-messages .body {
    max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
}

.message-page {
    display: grid;
    grid-template-columns: 30% auto 25%;
    grid-template-rows: 100%;
    padding: 1rem;
    width:100%;
    max-width: 100vw;
    max-height:100%;
    min-height: 100%;
    overflow: hidden;
    gap:1%;
}

@media (max-width: 1000px) {
    .message-page {
        grid-template-columns: 40% auto; /* Remove the third column */
    }

    .message-page .column:nth-of-type(3) {
        display: none; /* Hide the third column */
    }
}

.message-page.no-messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-page.no-messages .icon {
    font-size: 5rem;
}

.message-page .column {
    background-color: var(--gn-white);
    border-radius: 1rem;
    border: 1px solid var(--gn-grey-300);
    box-shadow: 0 0 5px var(--gn-shadow);
    overflow: hidden;
}

/* CONVERSATIONS COLUMN */

.message-page .column.conversations {
    margin-top: 1px;
    height: 100%;
    overflow-y: auto;
}

.message-page .column .top-banner {
    padding: 1rem 1.5rem;
}

.message-page .column.conversations .conversations-list {
    list-style-type: none;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    justify-content: flex-start;
}

.message-page .column.conversations .conversations-list .conversation {
    height:100px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 100ms linear;
    border:1px solid transparent;
}

.message-page .column.conversations .conversations-list .conversation:hover {
    background-color: var(--gn-grey-300);
}

.message-page .column.conversations .conversations-list .conversation.active {
    border: 1px solid var(--gn-grey-300);
    background-color: var(--gn-grey-200);
    box-shadow: 0 0 5px var(--gn-grey-400);
}

.message-page .column.conversations .conversations-list .conversation-icon {
    min-width:50px;
    min-height: 50px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gn-off-black);
    box-shadow: 0 0 10px var(--gn-grey-400);
}

.message-page .column.conversations .conversations-list .conversation-icon .participant-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.message-page .column.conversations .conversations-list .conversation-icon .icon {
    color: var(--gn-white);
    font-size: 1.25rem;
}

.message-page .column.conversations .conversations-list .conversation .gig-date {
    font-size: 1rem;
    font-weight: 600;
}

.message-page .column.conversations .conversations-list .conversation-text {
    max-width:80%;
    min-width: 80%;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:3px;
}

.message-page .column.conversations .conversations-list .notification-dot {
    height:10px;
    width:10px;
    background-color: var(--gn-orange);
    border-radius: 50%;
}
.message-page .column.conversations .conversations-list .conversation-title {
    padding-right: 1rem;
}

.message-page .column.conversations .conversations-list .conversation-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-page .column.conversations .conversations-list .conversation-details {
    width: 100%;
    display: grid;
    grid-template-columns: auto 50px;
}

.message-page .column.conversations .conversations-list .conversation-details .conversation-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1268px) {
    .message-page .column.conversations .conversations-list .conversation-details .conversation-date {
        justify-content: center;
    }
}

.message-page .column.conversations .conversations-list .last-message-preview {
    text-overflow: ellipsis;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
}

.message-page .column.conversations .conversations-list .conversation-title-text {
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* MESSAGES COLUMN */

.message-page .column.message-thread {
    border: 1px solid var(--gn-grey-300);
    box-shadow: 0px 0px 4px var(--gn-shadow);
    border-radius: 1rem;
    position: relative;
    height: 100%;
    /* display: grid;
    grid-template-rows: 60px auto; */
    display: flex;
    flex-direction: column;
}

.message-page .column.message-thread .top-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gn-white);
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid var(--gn-grey-300);
    box-shadow: 0px 2px 5px var(--gn-grey-300);
}

.message-page .column.message-thread .messages {
    flex-grow: 1; /* Make the messages container fill available space */
    overflow-y: scroll;
    padding-top: 1rem;
    /* Hide scrollbar for Chrome, Safari, and Edge */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.message-page .column.message-thread .messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

/* MESSAGE */

.message-page .message-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.message-page .message-container .participant-icon {
    background-color: var(--gn-off-black);
    box-shadow: 0 0 10px var(--gn-grey-400);
    padding: 0.5rem;
    border-radius: 10px;
}

.message-page .message-container .participant-icon .icon {
    color: var(--gn-white);
    font-size: 1.1rem;
}

.message-page .message {
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
    max-width: 50%;
    width:fit-content;
    border: 1px solid var(--gn-grey-350);
    box-shadow: 0 0 3px var(--gn-shadow);
}

.message-page .message.application {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-page .message .accepted-group {
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-end;
}

.message-page .message.negotiation {
    display: flex;
    flex-direction: column;
}

.message-page .message.negotiation .fees {
    display: flex;
    gap:5px;
}

.message-page .message .counter-offer.received .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}

.message-page .message .counter-offer .input {
    width:100px;
    padding:5px 10px;
    text-align: center;
}

.message-page .status-box {
    margin-top: 0.5rem;
}

.message-page .status {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding:5px;
    width:fit-content;
    border-radius: 5px;
}

.message-page .status.confirmed {
    border:1px solid rgb(0, 219, 0);
    background-color: rgba(0, 239, 0, 0.1);
    color: rgb(0, 219, 0);
}

.message-page .status.rejected {
    border:1px solid var(--gn-red);
    background-color: var(--gn-offset-red);
    color: var(--gn-red);
}

.message-page .message.sent {
    margin-left: auto;
    background-color: var(--gn-grey-300);
}

.message-page .message.sent.negotiation {
    display: flex;
    gap: 5px;
}

.message-page .message.received {
    background-color: var(--gn-white);
}

.message-page .message.received.negotiation .fees {
    display: flex;
    gap:5px;
}

.message-page .message.announcement {
    max-width: 100%;
    width:80%;
    margin: auto;
    padding: 2rem 1rem;
    border:none;
    background-color: var(--gn-white);
    border: 1px solid var(--gn-grey-350);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:5px;
}

.message-page .message.announcement h4 {
    text-align: center;
}

.message-page .message h6 {
    display: block;
    margin-top: 5px;
    text-align: right;
}

.message-page .message-input {
    display: flex;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur */
    -webkit-backdrop-filter: blur(1px);
    flex-shrink: 0;
}

.message-page .message-input .input {
    flex: 1;
    border:2px solid transparent;
    background-color: var(--gn-grey-300);
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    transition: all 200ms linear;
    box-shadow: 0 0 5px var(--gn-shadow);
}

.message-page .message-input .input:focus {
    outline: none;
    border:2px solid var(--gn-off-black);
    background-color: var(--gn-white);
}

.message-page .message-input .btn {
    border-radius: 1.5rem;
}

.message-page .counter-offer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:5px;
    margin-top: 10px;
}

.message-page .counter-offer .input {
    width:80%;
    padding:5px;
    border: 1px solid var(--gn-grey-400);
    border-radius: 5px;
    background-color: var(--gn-white);
    transition: border 0.3s;
}

.message-page .counter-offer .input:focus {
    border:1px solid var(--gn-off-black);
    outline:none;
}

.message-page .counter-offer .btn {
    padding: 5px !important;
}

.message-page .message-container .two-buttons {
    margin: 0.5rem 0;
    justify-content: flex-start;
}

.message-page .message.announcement .complete-payment {
    margin-top: 1rem;
}


/* GIG INFO COLUMN */

.message-page .column.information {
    margin-top: 1px;
    overflow-y: auto;
}

.message-page .column.information .top-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-page .column.information .venue {
    margin: 0rem 1.5rem;
}

.message-page .column.information .venue .photo {
    margin-bottom: 5px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gn-shadow);
}

.message-page .column.information .venue .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-page .column.information .location {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.message-page .column.information .budgets {
    border:1px solid var(--gn-grey-300);
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--gn-shadow);
    padding: 1rem;
}

.message-page .column.information .budget-container {
    text-align: center;
}

.message-page .column.information .date-and-time {
    margin: 0.25rem 1.5rem;
}

.message-page .column.information .details {
    margin: 1rem 1.5rem;
}

.message-page .column.information .details-list {
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
}

.message-page .column.information .details-list .detail {
    text-align: center;
    border: 1px solid var(--gn-grey-300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--gn-shadow);
    padding: 1rem 0.5rem;
}

.message-page .column.information .details-list .detail .data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.message-page .column.information .map {
    box-shadow: 0 0 5px var(--gn-shadow);
    margin: 0.25rem 1.5rem;
    height:240px;
    border-radius: 10px;
    padding-bottom: 1rem;
}

