
.modal {
    position: fixed;
    z-index: 1000;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: var(--gn-overlay);
}

.modal.welcome {
    backdrop-filter: none;
}

.modal-content {
    position: relative;
    min-width: 450px;
    max-width: 75vw;
    max-height: 75vh;
    padding:2.5rem;
    padding-top: 3rem;
    background-color: var(--gn-white);
    border-radius: var(--gn-border-radius);
    border:1px solid var(--gn-grey-350);
    gap:2rem;
    box-shadow: 0 0 20px var(--gn-shadow);
    transition: width 0.5s linear height 0.5s linear;
}

.modal-padding {
    border-radius: 1.5rem;
    padding:1rem;
    padding-bottom: 0;
    background-color: var(--gn-grey-300);
}

.modal-padding .bottom-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin:2rem auto;
}

.modal-content .btn.close {
    position: absolute;
    top:5px;
    right:5px;
    color: var(--gn-red);
    background-color: transparent;
}

.modal-content.welcome {
    padding:2rem;
    min-width: 450px;
    max-width: 450px;
    overflow: hidden;
}

.modal-content.welcome .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.modal-content.welcome .body h4 {
    text-align: center;
}

.modal-header {
    margin-bottom: 1.5rem;
}

.modal-header .icon {
    font-size: 1.5rem;
}

.modal-header h2 {
    margin: 0.25rem 0;
}

.modal-header p {
    color: var(--gn-grey-700);
}

.modal-buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}

.modal-content.scrollable {
    overflow-y: scroll;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE 10+ */
}

.modal-content.scrollable::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, Opera */
}


/* AUTH MODAL */
.modal-content.auth {
    border: none;
    width:450px;
    max-width: 500px;
}

.modal-content.auth .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
}

.modal-content.auth .head h2 {
    font-size: 1.5rem;
}

.modal-content.auth .head .logo {
    font-size: 2rem;
    margin:0 auto;
}

.modal-content.auth .head p {
    font-weight: 400;
    text-align: center;
}

.modal-padding.auth .change-auth-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    margin:2rem 0;
}

.modal-padding.auth .change-auth-type-text {
    color: var(--gn-grey-600);
}

.modal-padding.auth .change-auth-type .btn {
    font-weight: 500;
    text-decoration: underline;
    cursor:pointer;
}

.modal-padding.auth .change-auth-type .btn:hover {
    color: var(--gn-grey-600);
}
