.modal .modal-content.promote .socials-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.modal .modal-content.promote .socials-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: var(--gn-black);
    padding: 5px 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.modal .modal-content.promote .socials-links li a .icon {
    margin-right: 10px;
    font-size: 1.5rem;
}