.modal .modal-content.review .leave-review {
    width: 100%;
}

.modal .modal-content.review .leave-review .review-head {
    display: flex;
    align-items: center;
    gap:1rem;
    background-color: var(--gn-off-black);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--gn-shadow);
    color: var(--gn-white);
}

.modal .modal-content.review .leave-review .review-head .musician-img-cont {
    width:75px;
    height: 75px;
    overflow: hidden;
    border-radius: 4rem;
    box-shadow: 0 0 5px var(--gn-grey-600);
}

.modal .modal-content.review .leave-review .review-head .musician-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal .modal-content.review .leave-review .review-head .name-and-reviews h3 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal .modal-content.review .leave-review .review-head .name-and-reviews h3 .icon {
    color: gold;
}

.modal .modal-content.review .leave-review .review-body {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.modal .modal-content.review .leave-review .review-body.dispute {
    gap:10px
}

.modal .modal-content.review .leave-review .review-body .review-buttons {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.modal .modal-content.review .leave-review .review-body .review-buttons .btn.selected {
    background-color: var(--gn-grey-350);
}

.modal .modal-content.review .leave-review .review-body textarea {
    min-width: 100%;
    min-height: 100px;
    max-width: 500px;
    max-height: 200px;
    border-color: var(--gn-grey-400);
    border-radius: 5px;
    outline: 1px solid transparent;
    padding:5px;
    transition: outline 200ms linear, border 200ms linear;
}

.modal .modal-content.review .leave-review .review-body textarea:focus {
    outline-color: var(--gn-black);
    border-color: transparent;
}

.modal .modal-content.review .leave-review .review-body .dispute-reason {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.modal .modal-content.review .leave-review .review-body .dispute-reason label {
    font-weight: 500;
}

.modal .modal-content.review .leave-review .review-body .dispute-reason select {
    font-weight: 400;
    border-color: var(--gn-grey-400);
    border-radius: 5px;
    outline: 1px solid transparent;
    padding:5px;
    transition: outline 200ms linear, border 200ms linear;
}

.modal .modal-content.review .leave-review .review-body .dispute-reason select:focus {
    outline-color: var(--gn-black);
    border-color: transparent;
}

.modal .modal-content.review .dispute-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}