.gig-preview {
    border:1px solid var(--light-medium-grey);
    background-color: var(--white);
    border-radius: 2rem;
    height:300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.gig-preview:hover {
    box-shadow: 2px 2px 5px var(--light-grey);
}
.gig-preview:hover > .profile-picture img {
    transform: scale(1.25);
    transition: all 0.2s ease-in-out;
}
.gig-preview .profile-picture {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
}
.gig-preview .profile-picture img {
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    object-fit: cover;
}
.gig-preview .gig-information {
    height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: var(--default-font);
}
.gig-information .other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.25rem;
}
.gig-information .other div {
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.gig-information .other .icon {
    font-size: 0.75rem;
}
.gig-information .other .genres {
    margin: 0;
}

