/* Musician Extra Info */
.musician-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
.musician-info .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
.musician-info .sections .music-type, .musician-bio, .musician-genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}
.musician-info .music-type-inputs .radio-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.musician-info .music-type-inputs input {
    display: none;
}
.musician-info .music-type-inputs .labels {
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem ;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
    font-weight: 300;
    transition: all 100ms linear;
}
.musician-info .music-type-inputs .labels:hover {
    transition: all 100ms linear;
}
.musician-info .music-type-inputs .labels.clicked {
    background-color: var(--dark-grey);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--white);
    transition: all 100ms linear;
}
.musician-info .sections .musician-genres .options {
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}

/* Mobile */
.profile-creator.mobile .musician-info .radio-options {
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}
.profile-creator.mobile .musician-info #musician-bio {
    width:80%;
}
.profile-creator.mobile .musician-info .sections .musician-genres .options {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:0.5rem;
}