/* Name inputs */
.name-cont {
    display: flex;
    justify-content: space-between;
    gap:0.5rem;
}

@media screen and (max-width: 540px) {
    .name-cont {
        flex-direction: column;
        gap:0.5rem;
    }
}