/* STYLES FOR ALL PAGES */
/* General page styling */
.profile-creator {
    height:100vh;
    display:grid;
    grid-template-rows: min-content 1fr min-content;
}
.profile-creator .header {
    grid-row: 1 / 2;
}
.profile-creator-stage {
    height:100%;
    grid-row: 2 / 3;
    overflow: scroll;
    padding: 3rem 0;
    /* Hide scrollbars */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.profile-creator-stage::-webkit-scrollbar {
    display: none;
}


/* Mobile */
.profile-creator.mobile {
    height:90vh;
}
.profile-creator.mobile .profile-creator-stage {
    padding: 1rem 1.5rem 4rem 1.5rem;
}
.profile-creator.mobile .title {
    text-align: center;
    font-size: 1.5rem;
    padding:0 1.5rem;
}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


/* CARDS */
.profile-creator-stage .options {
    display: flex;
}
.profile-creator-stage .card {
    padding:3rem;
    min-width: 250px;
    height: 200px;
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.profile-creator-stage .card:hover {
    box-shadow: 2px 2px 5px var(--light-grey);
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.profile-creator-stage .card:hover > .icon {
    font-size: 2rem;
    transition: 200ms ease-in-out;
}
.profile-creator-stage .card .icon {
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
}
.profile-creator-stage .card .text {
    font-weight: 400;
    font-size: 1.25rem;
}

/* Card clicked */
.profile-creator-stage .card.active {
    background-color: var(--light-grey);
    box-shadow: 2px 2px 5px var(--light-grey);
}
.profile-creator-stage .card.active > .icon {
    font-size: 2rem;
}

/* Card inactive */
.profile-creator-stage .card.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}
.profile-creator-stage .card.inactive:hover {
    box-shadow: none;
}
.profile-creator-stage .card.inactive:hover > .icon {
    font-size: 1.5rem;
}



/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


/* Form inputs */
.profile-creator-stage .text-input {
    padding: 1rem;
    border: 1px solid var(--light-medium-grey);
    border-radius: 1rem;
    min-width: 250px;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--default-font);
    text-align: center;
}
.profile-creator-stage .text-input:focus {
    outline:1px solid var(--gigin-orange);
    border:1px solid var(--white);
    transition: 100ms linear;
}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */



/* Profile Previews */
.profile-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */



/* Footer */
.profile-creator .footer-bar {
    grid-row: 3 / 4;
}
.profile-creator .footer-bar {
    width:100%;
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-creator .footer-bar.right-flex {
    justify-content: flex-end;
}
/* Mobile */
.profile-creator.mobile .footer-bar {
    position: absolute;
    bottom:5rem;
    padding:1rem;
    background-color: #ffffff00;
}