.account-page {
    background-color: var(--background-black);
    color: var(--white);
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100vh;
}
.account-page .right {
    background-image: url('../../assets//images/accounts-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 5%;
    text-align: center;
}
.account-page .left {
    padding: 10%;
}
.account-page .left .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.account-page .left .header .link {
    color: var(--white);
    transition: all 200ms linear;
}
.account-page .left .header .link:hover {
    color: var(--gigin-orange);
}
.account-page .left .body h2 {
    margin-bottom: 1.5rem;
}

.account-page form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
}
.account-page .two-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    gap:1rem;
}
.account-page .input-group {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:0.5rem;
}
.account-page .input-group label {
    font-size: 1rem;
    font-weight: 300;
}
.account-page .input-group input {
    font-family: var(--default-font);
    font-weight: 300;
    font-size: 1rem;
    border:none;
    color: var(--white);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 0px 1000px var(--dark-grey) inset;
    transition: all 200ms linear;
    -webkit-text-fill-color: var(--white);
    caret-color: var(--white);
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-grey) inset;
}
.account-page .input-group input:focus {
    outline:1px solid var(--white);
}
.account-page .input-group.error input {
    border:1px solid var(--red);
}
.account-page .input-group .error-message {
    font-size: 0.8rem;
    color: var(--red);
}
.account-page .input-group select {
    padding: 1rem 5px;
    border: 1px solid var(--white);
    background-color: var(--background-black);
    color: var(--white);
    border-radius: 5px;
}
.account-page .input-group select:focus {
    outline:1px solid var(--white);
}
.account-page form .btn {
    margin-top:0.5rem;
}
.account-page form .legal-box {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.account-page form .legal-box p {
    color: var(--white);
    font-size: 0.8rem;
}
.account-page form .legal-box label {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.account-page form .legal-box .link {
    color: var(--white);
    font-size: 0.8rem;
    text-decoration: underline;
}
.account-page .foot-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    margin-top: 1rem;
    gap:1rem;
}
.account-page .foot-links .link {
    color: var(--white);
    font-size: 0.9rem;
    text-decoration: underline;
    transition: all 200ms linear;
}
.account-page .foot-links .link:hover {
    color: var(--gigin-orange);
}

/*  */