/* FONTS */
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Fonts */
    --default-font: 'Inter', sans-serif;
    --quicksand-font: 'Quicksand', sans-serif;
    --gigin-orange: #FD6A00;
    --white: white;
    --light-grey: #f1f1f1;
    --light-medium-grey: #d4d4d4;
    --medium-dark-grey: grey;
    --dark-grey: #565656;
    --black: black;
    font-family: var(--default-font);
    font-size: 16px;
}

/* Global styles */
/* Make link element neutral */
.link {
    text-decoration: none;
    color: black;
}