.gig-builder .body {
    padding:1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}
.gig-builder .selections-area {
    padding:1rem;
}
.gig-builder .heading {
    margin-bottom:1rem;
}
.gig-builder .title {
    margin-bottom: 1rem;
}
.gig-builder .subtitle {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
.gig-builder .text {
    text-align: left;
}


/* Main content */
.gig-builder .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.gig-builder .main .stage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.gig-builder .stage .grey-out {
    position: absolute;
    top:0;
    left:0;
    width:110%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

/* Cards */
.gig-builder .card {
    padding:3rem;
    width: 200px;
    height: 150px;
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.gig-builder .card:hover {
    box-shadow: 2px 2px 5px var(--light-grey);
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.gig-builder .card:hover > .icon {
    font-size: 2rem;
    transition: 200ms ease-in-out;
}
.gig-builder .card .icon {
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
}

/* Card clicked */
.gig-builder .card.active {
    background-color: var(--light-grey);
    box-shadow: 2px 2px 5px var(--light-grey);
}
.gig-builder .card.active > .icon {
    font-size: 2rem;
}

/* Card inactive */
.gig-builder .card.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}
.gig-builder .card.inactive:hover {
    box-shadow: none;
}
.gig-builder .card.inactive:hover > .icon {
    font-size: 1.5rem;
}

/* Calendar */
.gig-builder .calendar {
    width:50%;
    height: 500px;
}
.gig-builder .calendar .fc {
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    padding:0.5rem 1rem;
    height:100%;
    width:100%;
    margin:1rem 2rem;
}

