
button {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.btn.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}


/* SIDE BY SIDE BUTTONS */

.two-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:var(--gn-spacing-x);
}


/* PRIMARY BUTTONS */

.btn.primary {
    background-color: var(--gn-orange);
    border:none;
    padding:var(--gn-btn-padding-y) var(--gn-btn-padding-x);
    color:var(--gn-white);
    font-weight: var(--gn-semi-bold);
    border-radius: var(--gn-btn-border-radius);
    transition: opacity 200ms linear;
}

.btn.primary:hover {
    opacity: 0.8;
}


/* ALTERNATIVE PRIMARY BUTTONS */

.btn.primary-alt {
    background-color: var(--gn-offset-orange);
    border:1px solid transparent;
    padding:var(--gn-btn-padding-y) var(--gn-btn-padding-x);
    color:var(--gn-orange);
    font-weight: var(--gn-semi-bold);
    border-radius: var(--gn-btn-border-radius);
    transition: border 200ms linear;
}

.btn.primary-alt:hover {
    border: 1px solid var(--gn-orange)
}


/* SECONDARY BUTTONS */

.btn.secondary {
    background-color: var(--gn-white);
    border:1px solid var(--gn-grey-400);
    padding:var(--gn-btn-padding-y) var(--gn-btn-padding-x);
    border-radius: var(--gn-btn-border-radius);
    transition: background-color 200ms linear;
}

.btn.secondary:hover {
    background-color: var(--gn-grey-300);
}


/* TERTIARY BUTTONS */

.btn.tertiary {
    background-color: transparent;
    border:none;
    padding:var(--gn-btn-padding-y) var(--gn-btn-padding-x);
    border-radius: var(--gn-btn-border-radius);
    transition: background-color 200ms linear;
}

.btn.tertiary:hover {
    background-color: var(--gn-grey-300);
}


/* TEXT BUTTONS */

.btn.text {
    background-color: transparent;
    border:none;
}

.btn.text:hover {
    text-decoration: underline;
}


/* ICONS AS BUTTONS */

.btn.icon {
    background-color: transparent;
    border: none;
    padding:5px;
}

.btn.icon .icon {
    font-size: 1.5rem;
}


/* DANGER BUTTONS */

.btn.danger {
    background-color: var(--gn-offset-red);
    border: 1px solid transparent;
    color: var(--gn-red);
    padding:var(--gn-btn-padding-y) var(--gn-btn-padding-x);
    border-radius: 5px;
    transition: border 200ms linear;
}

.btn.danger:hover {
    border-color: 1px solid var(--red);
}