/* SIDY BY SIDE BUTTONS */
.two-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

/* ALL BUTTONS */
.btn {
    font-family: var(--default-font);
    cursor: pointer;
}

/* PRIMARY BUTTONS */
.btn.primary {
    background-color: var(--gigin-colour);
    border:none;
    padding:10px 20px;
    color:var(--white);
    font-weight: 500;
    border-radius: 0.5rem;
    transition: opacity 200ms linear;
}

.btn.primary:hover {
    opacity: 0.9;
}


/* ALTERNATIVE PRIMARY BUTTONS */
.btn.primary-alt {
    background-color: var(--secondary-gigin-colour);
    border:1px solid transparent;
    padding:0.5rem 1rem;
    color:var(--gigin-colour);
    font-weight: 500;
    border-radius: 0.5rem;
    transition: border 200ms linear;
}

.btn.primary-alt:hover {
    border: 1px solid var(--gigin-colour)
}


/* SECONDARY BUTTONS */
.btn.secondary {
    background-color: var(--white);
    border:1px solid var(--secondary-grey);
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms linear, border-color 200ms linear;
}

.btn.secondary:hover {
    background-color: var(--primary-grey);
}

/* TERTIARY BUTTONS */
.btn.tertiary {
    background-color: transparent;
    border:none;
    padding:10px 20px;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: background-color 200ms linear;
}

.btn.tertiary:hover {
    background-color: var(--primary-grey);
}

/* TEXT BUTTONS */
.btn.text {
    background-color: transparent;
    border:none;
    font-weight: 400;
    cursor: pointer;
}

.btn.text:hover {
    text-decoration: underline;
}

/* ICONS AS BUTTONS */
.btn.icon {
    background-color: var(--white);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: border-color 0.2s linear;
}

.btn.icon .icon {
    font-size: 1.5rem;
}

/* DANGER BUTTONS */
.btn.danger {
    background-color: rgb(254, 246, 246);
    border: 1px solid transparent;
    color: var(--red);
    padding:5px;
    transition: border 200ms linear;
}

.btn.danger:hover {
    border-color: 1px solid var(--red);
}