.dashboard {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.dashboard .main {
    display: grid;
    width:100%;
    grid-template-columns: minmax(0, 250px) auto;
}
.dashboard .sidebar {
    height:100%;
    padding: 0 1rem;
}
.dashboard .sidebar .btn {
    margin-bottom: 1rem;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.dashboard .sidebar .icon {
    font-size: 1.25rem;
}
.dashboard .sidebar .menu {
    margin: 1rem 0;
    list-style: none;
}
.dashboard .sidebar .menu .break {
    color: var(--off-white);
}
.dashboard .sidebar .menu .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--medium-grey);
    margin-bottom: 10px;
}
.dashboard .sidebar .menu-item {
    position: relative;
    margin: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    cursor: pointer;
    font-weight: 300;
    padding:7px 10px;
    border-radius: 5px;
    transition: background-color 0.2s linear;
}
.dashboard .sidebar .menu-item:hover {
    background-color: var(--off-white);
}
.dashboard .sidebar .menu-item.sub {
    margin-left: 15px;
}
.dashboard .sidebar .menu-item .sub .icon {
    font-size: 1rem;
}
.dashboard .sidebar .menu-item.expandable .sub {
    transition: all 0.2s linear;
    position: absolute;
    right:5px;
    padding:0 5px;
}
.dashboard .sidebar .menu-item.active {
    border-left: 3px solid var(--gigin-orange);
    border-radius: 0px 5px 5px 0;
    font-weight: 400;
}
.dashboard .sidebar .feedback-box {
    background-color: var(--off-white);
    border-radius: 10px;
    padding:10px;
    padding-top: 15px;
    margin-top:1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}
.dashboard .sidebar .feedback-box:hover {
    background-color: var(--trans-gigin-orange);
}
.dashboard .sidebar .feedback-box p {
    font-size: 0.9rem;
}


.dashboard .window {
    background-color: var(--off-white);
}