.landing-page {
    display: grid;
    width:100vw;
    height:100%;
    grid-template-columns: repeat(3, 1fr);
}

.landing-page .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: all 200ms linear;
}

.landing-page .link:hover {
    background-color: var(--gn-offset-orange);
}