.logo, .logo .link {
    width:fit-content;
    font-weight:600;
    font-size: 24px;
}
.logo .orange-txt {
    color: var(--gigin-orange);
}
.logo.bckgrd-white {
    background-color: var(--white);
    border-radius: 50%;
    width:45px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo .user-type {
    font-size: 0.75rem;
    color: var(--medium-grey);
}