
.modal {
    position: fixed;
    z-index: 100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: var(--gn-overlay);
}

.modal.welcome {
    backdrop-filter: none;
}

.modal-content {
    position: relative;
    min-width: 500px;
    max-width: 75vw;
    max-height: 75vh;
    padding:2.5rem 5rem;
    background-color: var(--gn-white);
    border-radius: var(--gn-border-radius);
    border:1px solid var(--gn-grey-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    box-shadow: 0 0 20px var(--gn-shadow);
}

.modal-content .btn.close {
    position: absolute;
    top:5px;
    right:5px;
    color: var(--gn-red);
    background-color: transparent;
}

.modal-content.welcome {
    padding:2rem;
    min-width: 450px;
    max-width: 450px;
    overflow: hidden;
}

.modal-content.welcome .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.modal-content.welcome .body h4 {
    text-align: center;
}



/* AUTH MODAL */
.modal-content.auth {
    padding-bottom: 5rem;
    width:500px;
}

.modal-content.auth .head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.modal-content.auth .head h2 {
    font-size: 1.5rem;
}

.modal-content.auth .head .logo {
    font-size: 2rem;
    margin:0 auto;
}

.modal-content.auth .head .text {
    max-width: 300px;
    margin: 0 auto;
}

.modal-content.auth .head .text p {
    font-size: 0.75rem;
    margin-top: 5px;
}
