.filter-button {
    padding:0.5rem 1rem;
    border-radius: 2rem;
    border:1px solid var(--light-grey);
    background:none;
    font-weight: 300;
    margin: auto 0;
}
.filter-button-name {
    font-size: 0.8rem;
    transition: 100ms linear;
}
.filter-button-name.filled {
    font-size: 0.7rem;
    transition: 100ms linear;
}
.filter-button-filled {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    gap:0.2rem;
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 1rem;
    padding:0.5rem;
}
.filter-button-filled:hover {
    border: 1px solid var(--dark-grey);
}
.filter-button:hover {
    border: 1px solid var(--light-medium-grey);
    cursor: pointer;
}
.filter-button.active {
    border: 1px solid var(--light-medium-grey);
}

/* Apply filter button */
.apply-button {
    padding:0.5rem 1rem;
    background-color: var(--dark-grey);
    border: none;
    color: var(--white);
    border-radius: 1rem;
    margin-top: 1rem;
}
.apply-button:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    color: var(--black);
    box-shadow: 2px 2px 5px var(--light-medium-grey);
    transition: 200ms linear;
}
.apply-button:active {
    box-shadow: inset 2px 2px 5px var(--light-medium-grey);
}

/* Search buttons */
.search-button-small {
    border: none;
    padding:0.5rem 0.6rem;
    border-radius: 50%;
    background-color: var(--gigin-orange);
    color: var(--white);
}
.search-button-small:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    color: var(--black);
    transition: 200ms linear;
}
.search-button-big {
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: var(--gigin-orange);
    color: var(--white);
    font-family: var(--default-font);
    font-weight: 300;
}
.search-button-big span {
    margin-right: 0.5rem;
}
.search-button-big:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    color: var(--black);
    transition: 200ms linear;
}