/* Host extra info */
.extra-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.extra-information .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
/* Text areas */
.details {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details textarea {
    border:1px solid var(--light-medium-grey);
    border-radius: 1rem;
    padding:1rem;
    font-family: var(--default-font);
}
.details textarea:focus {
    outline:1px solid var(--gigin-orange);
}
/* Parking */
.extra-information .parking-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
}
.extra-information .parking-inputs h3 {
    font-size: 400;
}
.extra-information .parking-inputs .radio-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.extra-information .parking-inputs input {
    display: none;
}
.extra-information .parking-inputs .labels {
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem ;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 0.5rem;
    font-weight: 300;
    transition: all 100ms linear;
}
.extra-information .parking-inputs .labels:hover {
    transition: all 100ms linear;
}
.extra-information .parking-inputs .labels.clicked {
    background-color: var(--dark-grey);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--white);
    transition: all 100ms linear;
}
/* Venue Description */
.extra-information .venue-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
}

/* Mobile */
.profile-creator.mobile .extra-information {
    justify-content: flex-start;
}
.profile-creator.mobile .extra-information .parking-inputs {
    flex-direction: column;
    gap:2rem;
}
.profile-creator.mobile .extra-information .parking-inputs .radio-options {
    flex-direction: column;
    gap:1rem;
}
.profile-creator.mobile .extra-information .venue-description {
    max-width: 80%;
    flex-direction: column;
    gap:1rem;
}
.profile-creator.mobile .extra-information .venue-description .details {
    max-width: 100%;
}
.profile-creator.mobile .extra-information .venue-description .details textarea {
    height:200px;
}
